Repository web-platform-dx/web-features, pull requests merged in 2024-09, with the labels that each got.

#1686 Contributor docs: suggest a general style reference
  docs/guidelines.md
Labels: documentation

#1681 Reinstate check for `.dist` without `.yml` companion
  scripts/dist.ts
Labels: tools and infrastructure

#1682 Add labeler for tools and infrastructure PRs
  .github/labeler.yml
Labels: tools and infrastructure

#1657 Add Promise.try()
  features/promise-try.yml
  features/promise-try.yml.dist
Labels: feature definition

#1683 Add alt text in content
  features/alt-text-generated-content.yml
  features/alt-text-generated-content.yml.dist
Labels: feature definition

#1713 File system access API
  features/draft/spec/file-system-access.yml
  features/file-system-access.yml
  features/file-system-access.yml.dist
  features/origin-private-file-system.yml
  groups/file-system.yml
Labels: feature definition

#1629 Add Proxy and Reflect
  features/proxy-reflect.yml
  features/proxy-reflect.yml.dist
Labels: question, feature definition

#1654 Add weak references
  features/weak-references.yml
  features/weak-references.yml.dist
Labels: feature definition

#1677 Contributor docs: add `caniuse` usage guidance
  docs/guidelines.md
Labels: documentation

#1697 fill in more of AbortSignal
  features/aborting.yml
  features/aborting.yml.dist
Labels: feature definition

#1703 Add Clipboard events apis, types
  features/async-clipboard.yml
  features/async-clipboard.yml.dist
  features/clipboard-events.yml
  features/clipboard-events.yml.dist
  features/draft/spec/clipboard-apis.yml
Labels: feature definition

#1684 Add calc.color_component to relative-color
  features/relative-color.yml
Labels: feature definition

#1641 Check for stale BCD before updating dist files
  packages/compute-baseline/src/browser-compat-data/compat.ts
  scripts/dist.ts
Labels: package:compute-baseline, minor version required

#1667 Contributing docs: explain `compat_features` versus tags
  docs/CONTRIBUTING.md
Labels: documentation

#1650 Publishing docs: apply miscellaneous edits
  docs/publishing.md
Labels: documentation

#1651 Add forced-colors
  features/forced-colors.yml
  features/forced-colors.yml.dist
Labels: feature definition

#1698 Add white-space group, features
  features/tab-size.yml
  features/tab-size.yml.dist
  features/text-wrap-mode.yml
  features/text-wrap-mode.yml.dist
  features/white-space-collapse.yml
  features/white-space-collapse.yml.dist
  features/white-space.yml
  features/white-space.yml.dist
  groups/white-space.yml
Labels: feature definition

#1644 Add Font face features
  features/font-display.yml
  features/font-display.yml.dist
  features/font-face.yml
  features/font-face.yml.dist
Labels: feature definition

#1602 Add user-select
  features/user-select.yml
  features/user-select.yml.dist
Labels: feature definition

#1679 Add filter argument to update-drafts script
  scripts/update-drafts.ts
Labels: tools and infrastructure

#1553 Update governance to allow peers to merge status changes
  GOVERNANCE.md
Labels: documentation, governance

#1753 Add missing text-wrap-mode keys
  features/text-wrap-mode.yml
  features/text-wrap-mode.yml.dist
Labels: feature definition

#1685 Add gradient interpolation
  features/conic-gradients.yml
  features/conic-gradients.yml.dist
  features/gradient-interpolation.yml
  features/gradient-interpolation.yml.dist
Labels: feature definition

#1752 Add AuthenticatorAttestationResponse.getTransports
  features/webauthn.yml
  features/webauthn.yml.dist
Labels: feature definition

#1530 Add TC39 float16array
  features/float16array.yml
  features/float16array.yml.dist
Labels: feature definition

#1765 Add missing keys to contain-intrinsic-size
  features/contain-intrinsic-size.yml
  features/contain-intrinsic-size.yml.dist
Labels: feature definition

#1755 Add environment variables group
  features/safe-area-inset.yml
  features/safe-area-inset.yml.dist
  groups/environment-variables.yml
Labels: feature definition

#1761 Contributor docs: add guideline for literal code snippets and overlong entry points
  docs/guidelines.md
Labels: documentation

#1737 Contributor docs: add lightweight guidelines for grouping features
  docs/guidelines.md
Labels: documentation

#1760 Let Dependabot upgrade web-features dev dependencies more strictly
  .github/dependabot.yml
Labels: dependencies, tools and infrastructure, package:web-features

#1770 Remove unused release script code
  scripts/release.ts
Labels: tools and infrastructure

#1742 `update-drafts` script: don't make date-only modifications
  package-lock.json
  package.json
  scripts/update-drafts.ts
Labels: tools and infrastructure

#1725 Publishing docs: document versioning policy
  docs/publishing.md
Labels: documentation

#1750 Update `checkVisibility`
  features/check-visibility.yml
  features/check-visibility.yml.dist
Labels: feature definition

#1636 Add speech API
  features/draft/speech-recognition.yml
  features/draft/speech-recognition.yml.dist
  features/speech-recognition.yml
  features/speech-recognition.yml.dist
  features/speech-synthesis.yml
  features/speech-synthesis.yml.dist
Labels: feature definition

#1671 Add Functions
  features/functions.yml
  features/functions.yml.dist
Labels: feature definition

#1762 Add Window controls overlay
  features/window-controls-overlay.yml
  features/window-controls-overlay.yml.dist
  groups/progressive-web-app.yml
Labels: feature definition

#1775 Throw error if .yaml file is detected instead of .yml
  scripts/dist.ts
Labels: tools and infrastructure

#1774 Add missing keys to overlay
  features/overlay.yml
  features/overlay.yml.dist
Labels: feature definition

#1706 Browser agnostic Baseline site & content
  .github/workflows/gh-pages-build-deploy.yml
  .gitignore
  .prettierignore
  gh-pages/eleventy.config.js
  gh-pages/package-lock.json
  gh-pages/package.json
  gh-pages/src/_includes/default.html
  gh-pages/src/assets/css/style.css
  gh-pages/src/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff
  gh-pages/src/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2
  gh-pages/src/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff
  gh-pages/src/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2
  gh-pages/src/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff
  gh-pages/src/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2
  gh-pages/src/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff
  gh-pages/src/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2
  gh-pages/src/assets/img/baseline-limited-icon-dark.png
  gh-pages/src/assets/img/baseline-limited-icon-dark.svg
  gh-pages/src/assets/img/baseline-limited-icon.png
  gh-pages/src/assets/img/baseline-limited-icon.svg
  gh-pages/src/assets/img/baseline-limited-word-dark.png
  gh-pages/src/assets/img/baseline-limited-word-dark.svg
  gh-pages/src/assets/img/baseline-limited-word.png
  gh-pages/src/assets/img/baseline-limited-word.svg
  gh-pages/src/assets/img/baseline-newly-icon-dark.png
  gh-pages/src/assets/img/baseline-newly-icon-dark.svg
  gh-pages/src/assets/img/baseline-newly-icon.png
  gh-pages/src/assets/img/baseline-newly-icon.svg
  gh-pages/src/assets/img/baseline-newly-word-dark.png
  gh-pages/src/assets/img/baseline-newly-word-dark.svg
  gh-pages/src/assets/img/baseline-newly-word.png
  gh-pages/src/assets/img/baseline-newly-word.svg
  gh-pages/src/assets/img/baseline-widely-icon-dark.png
  gh-pages/src/assets/img/baseline-widely-icon-dark.svg
  gh-pages/src/assets/img/baseline-widely-icon.png
  gh-pages/src/assets/img/baseline-widely-icon.svg
  gh-pages/src/assets/img/baseline-widely-word-dark.png
  gh-pages/src/assets/img/baseline-widely-word-dark.svg
  gh-pages/src/assets/img/baseline-widely-word.png
  gh-pages/src/assets/img/baseline-widely-word.svg
  gh-pages/src/assets/img/baseline-wordmark-dark.png
  gh-pages/src/assets/img/baseline-wordmark-dark.svg
  gh-pages/src/assets/img/baseline-wordmark.png
  gh-pages/src/assets/img/baseline-wordmark.svg
  gh-pages/src/assets/img/wide-sq-192.png
  gh-pages/src/assets/img/wide-sq-32.png
  gh-pages/src/baseline-in-the-wild.md
  gh-pages/src/index.md
  gh-pages/src/name-and-logo-usage-guidelines.md
  gh-pages/src/use-baseline.md
  gh-pages/src/web-features.md
  gh-pages/src/webdx-cg.md
  tsconfig.json
Labels: documentation

#1718 Add a feature for Serializable errors
  features/serializable-errors.yml
  features/serializable-errors.yml.dist
Labels: feature definition

#1664 Add Generators
  features/generators.yml
  features/generators.yml.dist
Labels: feature definition

#1665 Add Async generators
  features/async-generators.yml
  features/async-generators.yml.dist
Labels: feature definition

#1741 Add JSON features
  features/json-modules.yml
  features/json-raw.yml
  features/json-raw.yml.dist
  features/json.yml
  features/json.yml.dist
  groups/json.yml
Labels: feature definition

#1656 Add Iterator methods
  features/iterator-methods.yml
  features/iterator-methods.yml.dist
Labels: feature definition

#1783 `update-drafts`: delete completed specs
  .github/workflows/update_draft_features_weekly.yml
  scripts/update-drafts.ts
Labels: tools and infrastructure

#1784 Fix labeling tools and infrastructure PRs
  .github/labeler.yml
Labels: tools and infrastructure

#1714 Add dictionary support for hyphens
  features/hyphens.yml
  features/hyphens.yml.dist
Labels: feature definition

#1736 Logical properties
  features/logical-properties.yml
  features/logical-properties.yml.dist
Labels: feature definition

#1673 Add Media queries
  features/color-gamut.yml
  features/color-gamut.yml.dist
  features/display-mode.yml
  features/display-mode.yml.dist
  features/dynamic-range.yml
  features/dynamic-range.yml.dist
  features/interaction.yml
  features/interaction.yml.dist
  features/inverted-colors.yml
  features/inverted-colors.yml.dist
  features/media-queries.yml
  features/media-queries.yml.dist
  features/media-query-range-syntax.yml
  features/overflow.yml
  features/overflow.yml.dist
  features/prefers-color-scheme.yml
  features/prefers-color-scheme.yml.dist
  features/prefers-contrast.yml
  features/prefers-contrast.yml.dist
  features/prefers-reduced-data.yml
  features/prefers-reduced-data.yml.dist
  features/prefers-reduced-motion.yml
  features/prefers-reduced-motion.yml.dist
  features/prefers-reduced-transparency.yml
  features/prefers-reduced-transparency.yml.dist
  features/scripting.yml
  features/scripting.yml.dist
  features/update.yml
  features/update.yml.dist
  features/video-dynamic-range.yml
  features/video-dynamic-range.yml.dist
  groups/media-queries.yml
Labels: feature definition

#1754 Add keywords to motion-path
  features/motion-path.yml
  features/motion-path.yml.dist
Labels: feature definition

#1649 Add clipping, shapes and masking
  features/clip-path-animatable.yml
  features/clip-path-animatable.yml.dist
  features/clip-path-boxes.yml
  features/clip-path-boxes.yml.dist
  features/clip-path.yml
  features/clip-path.yml.dist
  features/mask-border.yml
  features/mask-border.yml.dist
  features/mask-type.yml
  features/mask-type.yml.dist
  features/masks.yml
  features/masks.yml.dist
  features/shape-outside.yml
  features/shape-outside.yml.dist
  features/shapes.yml
  features/shapes.yml.dist
  groups/clipping-shapes-masking.yml
Labels: feature definition

#1793 Add CSSFontFeatureValuesMap keys to font-variant-alternates
  features/font-variant-alternates.yml
  features/font-variant-alternates.yml.dist
Labels: feature definition

#1635 Add Font styles
  features/font-family-math.yml
  features/font-family-math.yml.dist
  features/font-family-system.yml
  features/font-family-system.yml.dist
  features/font-family.yml
  features/font-family.yml.dist
  features/font-metric-overrides.yml
  features/font-metric-overrides.yml.dist
  features/font-shorthand.yml
  features/font-shorthand.yml.dist
  features/font-size-adjust.yml
  features/font-size-adjust.yml.dist
  features/font-size.yml
  features/font-size.yml.dist
  features/font-stretch.yml
  features/font-stretch.yml.dist
  features/font-style.yml
  features/font-style.yml.dist
  features/font-weight.yml
  features/font-weight.yml.dist
Labels: feature definition

#1820 Fix missing backtick in fetch-metadata description
  features/fetch-metadata.yml
Labels: feature definition

#1814 Prepare v1.4.0 release
  packages/web-features/package-lock.json
  packages/web-features/package.json
Labels: package:web-features

#1695 Add transform-box, add missing transform properties
  features/individual-transforms.yml
  features/individual-transforms.yml.dist
  features/transform-box.yml
  features/transform-box.yml.dist
  features/transforms2d.yml
  features/transforms2d.yml.dist
Labels: feature definition

#1707 Add ImageBitmap and related APIs
  features/createimagebitmap.yml
  features/createimagebitmap.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
Labels: feature definition

#1794 Add border, border-radius and outline
  features/border-image.yml
  features/border-radius.yml
  features/border-radius.yml.dist
  features/borders.yml
  features/borders.yml.dist
  features/outline.yml
  features/outline.yml.dist
  features/outlines.yml
  features/outlines.yml.dist
  groups/borders-outlines.yml
Labels: feature definition

#1799 Add path shape
  features/path-shape.yml
  features/path-shape.yml.dist
Labels: feature definition

#1727 Add a feature for SVG support in the Async Clipboard API
  features/async-clipboard.yml
  features/async-clipboard.yml.dist
  features/clipboard-custom-format.yml
  features/clipboard-custom-format.yml.dist
  features/clipboard-svg.yml
  features/clipboard-svg.yml.dist
  features/clipboard-unsanitized-formats.yml
Labels: feature definition

#1829 Revise `individual-transforms` description
  features/individual-transforms.yml
Labels: feature definition

#1726 Add Capture stream
  features/capture-stream-audio-video.yml
  features/capture-stream-audio-video.yml.dist
  features/capture-stream-canvas.yml
  features/capture-stream-canvas.yml.dist
  features/draft/spec/mediacapture-fromelement.yml
Labels: feature definition

#1648 Add background-blend-mode and mix-blend-mode
  features/background-blend-mode.yml
  features/background-blend-mode.yml.dist
  features/isolation.yml
  features/isolation.yml.dist
  features/mix-blend-mode.yml
  features/mix-blend-mode.yml.dist
  groups/blend-mode.yml
Labels: feature definition

#1833 Add image features
  features/crisp-edges.yml
  features/crisp-edges.yml.dist
  features/cross-fade.yml
  features/cross-fade.yml.dist
  features/element.yml
  features/element.yml.dist
  features/image-orientation.yml
  features/image-orientation.yml.dist
  features/image-rendering.yml
  features/image-rendering.yml.dist
  features/smooth.yml
  features/smooth.yml.dist
  groups/image-scaling.yml
  groups/images.yml
Labels: feature definition

#1779 Sorting the CSS-Cascade-6 keys
  features/all.yml
  features/all.yml.dist
  features/cascade-layers.yml
  features/cascade-layers.yml.dist
  features/draft/spec/css-cascade-6.yml
  features/draft/spec/css-cascade-6.yml.dist
  features/inherit-value.yml
  features/inherit-value.yml.dist
  features/initial-value.yml
  features/initial-value.yml.dist
  features/revert-value.yml
  features/revert-value.yml.dist
  features/unset-value.yml
  features/unset-value.yml.dist
  groups/explicit-defaults.yml
Labels: feature definition

#1852 Add dark, light and normal keywords to color-scheme
  features/color-scheme.yml
  features/color-scheme.yml.dist
Labels: feature definition

#1628 Add BigInt64Array
  features/bigint64array.yml
  features/bigint64array.yml.dist
Labels: feature definition

#1813 Link to landing page from the README
  README.md
Labels: documentation

#1810 Contributor docs: recommend sentence case for names
  docs/guidelines.md
Labels: documentation

#1830 Contributor docs: write up merge practices
  docs/CONTRIBUTING.md
  docs/README.md
  docs/reviewing.md
Labels: documentation

#1808 Add @autonome and @jamesnw as peers
  GOVERNANCE.md
Labels: documentation, governance

#1786 Adds widows, orphans, and box-decoration-break
  features/box-decoration-break.yml
  features/box-decoration-break.yml.dist
  features/widows-orphans.yml
  features/widows-orphans.yml.dist
Labels: feature definition

#1840 Add feature for the Battery Status API
  features/battery.yml
  features/battery.yml.dist
Labels: feature definition

#1693 Add Writing mode, Vertical form controls
  features/vertical-form-controls.yml
  features/vertical-form-controls.yml.dist
  features/writing-mode.yml
  features/writing-mode.yml.dist
Labels: feature definition

#1806 `dist` script: be more permissive with file extensions
  scripts/dist.ts
Labels: tools and infrastructure

#1838 Add feature for CSS Font Loading API
  features/font-loading.yml
  features/font-loading.yml.dist
Labels: feature definition

#1870 Print destination path on feature init
  scripts/feature-init.ts
Labels: tools and infrastructure

#1854 Add missing grid keys
  features/grid.yml
  features/grid.yml.dist
Labels: feature definition

#1781 Adds margin, padding
  features/margin.yml
  features/margin.yml.dist
  features/padding.yml
  features/padding.yml.dist
Labels: feature definition

#1871 Align `grid` with caniuse
  features/grid.yml
  features/grid.yml.dist
Labels: feature definition

#1869 Add Pseudo selectors
  features/before-after.yml
  features/before-after.yml.dist
  features/file-selector-button.yml
  features/file-selector-button.yml.dist
  features/first-letter.yml
  features/first-letter.yml.dist
  features/first-line.yml
  features/first-line.yml.dist
  features/placeholder-shown.yml
  features/placeholder-shown.yml.dist
  features/placeholder.yml
  features/placeholder.yml.dist
  features/selection.yml
  features/selection.yml.dist
  features/text-decoration-selection.yml
  features/text-decoration-selection.yml.dist
Labels: feature definition
