Repository web-platform-dx/web-features, pull requests merged in 2024-10, with the labels that each got.

#1877 Use true ellipses consistently in descriptions
  features/array-iterators.yml
  features/async-iterable-streams.yml
  features/css-modules.yml
  features/json-modules.yml
  features/typed-array-iterators.yml
  features/url-canparse.yml
Labels: feature definition

#1802 Adds additional compat keys to page-breaks and column-breaks
  features/column-breaks.yml
  features/column-breaks.yml.dist
  features/page-breaks.yml
  features/page-breaks.yml.dist
Labels: feature definition

#1879 Feature for element(s)FromPoint
  features/element-from-point.yml
  features/element-from-point.yml.dist
Labels: feature definition

#1881 Add missing cjk-ideographic key
  features/list-style.yml
  features/list-style.yml.dist
Labels: feature definition

#1771 Add CSS and SVG animations, fill missing Web Animations
  features/animation-composition.yml
  features/animations-css.yml
  features/animations-css.yml.dist
  features/scroll-driven-animations.yml
  features/scroll-driven-animations.yml.dist
  features/smil-svg-animations.yml
  features/smil-svg-animations.yml.dist
  features/web-animations.yml
  features/web-animations.yml.dist
  groups/animation.yml
Labels: feature definition

#1889 Revise physical properties description
  features/physical-properties.yml
Labels: feature definition

#1763 Add CredentialsManagement public key options and other missing bits
  features/fedcm.yml
  features/fedcm.yml.dist
  features/webauthn.yml
  features/webauthn.yml.dist
Labels: feature definition

#1892 Adds new overflow properties. Adds keys to overflow and logical properties
  features/logical-properties.yml
  features/logical-properties.yml.dist
  features/overflow-clip-margin.yml
  features/overflow-clip-margin.yml.dist
  features/overflow-shorthand.yml
  features/overflow-shorthand.yml.dist
  features/scroll-behavior.yml
  features/scroll-behavior.yml.dist
  features/scrollbar-gutter.yml
  features/scrollbar-gutter.yml.dist
  features/text-overflow.yml
  features/text-overflow.yml.dist
Labels: feature definition

#1890 Add BarProp
  features/barprop.yml
  features/barprop.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
Labels: feature definition

#1872 Add sizing features
  features/aspect-ratio.yml
  features/aspect-ratio.yml.dist
  features/box-sizing.yml
  features/box-sizing.yml.dist
  features/fit-content-function.yml
  features/fit-content-function.yml.dist
  features/fit-content.yml
  features/fit-content.yml.dist
  features/min-max-content.yml
  features/min-max-content.yml.dist
  features/min-max-width-height.yml
  features/min-max-width-height.yml.dist
  features/width-height.yml
  features/width-height.yml.dist
Labels: feature definition

#1886 Add closewatcher feature
  features/closewatcher.yml
  features/closewatcher.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
Labels: feature definition

#1834 Add overscroll-behavior
  features/overscroll-behavior.yml
  features/overscroll-behavior.yml.dist
Labels: feature definition

#1893 Adds keys to scrollbar-color and scrollbar-width
  features/scrollbar-color.yml
  features/scrollbar-color.yml.dist
  features/scrollbar-width.yml
  features/scrollbar-width.yml.dist
Labels: feature definition

#1897 Add beforeunload
  features/beforeunload.yml
  features/beforeunload.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
Labels: feature definition

#1901 Add setTimeout and setInterval
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
  features/setinterval.yml
  features/setinterval.yml.dist
  features/settimeout.yml
  features/settimeout.yml.dist
Labels: feature definition

#1902 Add History API
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
  features/history.yml
  features/history.yml.dist
Labels: feature definition

#1882 Adds print-color-adjust
  features/print-color-adjust.yml
  features/print-color-adjust.yml.dist
Labels: feature definition

#1883 Adds content and quotes
  features/content.yml
  features/content.yml.dist
  features/quotes.yml
  features/quotes.yml.dist
Labels: feature definition

#1876 Turn off drafts updater on forks
  .github/workflows/update_draft_features_weekly.yml
Labels: tools and infrastructure

#1807 `update-drafts`: increase frequency of updates
  .github/workflows/update_draft_features_weekly.yml
Labels: tools and infrastructure

#1859 Take Ink Enhancement feature out of draft
  features/ink.yml
  features/ink.yml.dist
Labels: feature definition

#1670 Add a "JavaScript core (initial support)" feature
  features/javascript.yml
  features/javascript.yml.dist
Labels: feature definition

#1898 Adds ruby annotation layout properties and group
  features/draft/spec/css-ruby-1.yml
  features/draft/spec/css-ruby-1.yml.dist
  features/ruby-align.yml
  features/ruby-align.yml.dist
  features/ruby-overhang.yml
  features/ruby-overhang.yml.dist
  features/ruby-position.yml
  features/ruby-position.yml.dist
  features/ruby.yml
  groups/ruby.yml
Labels: feature definition

#1895 Add textwrap group and feature
  features/text-wrap-balance.yml
  features/text-wrap-mode.yml
  features/text-wrap-nowrap.yml
  features/text-wrap-nowrap.yml.dist
  features/text-wrap-pretty.yml
  features/text-wrap-stable.yml
  features/text-wrap-stable.yml.dist
  features/text-wrap-style.yml
  features/text-wrap-style.yml.dist
  features/text-wrap.yml
  features/text-wrap.yml.dist
  groups/text-wrap.yml
Labels: feature definition

#1596 Add Cursor style
  features/cursor.yml
  features/cursor.yml.dist
Labels: feature definition

#1908 Add HashChangeEvent
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
  features/hashchange.yml
  features/hashchange.yml.dist
Labels: feature definition

#1918 Fix typo in color management for 2D canvas feature
  features/canvas-2d-color-management.yml
  features/canvas-2d-color-management.yml.dist
Labels: feature definition, major version required, package:web-features

#1875 Create a continuous prerelease for GitHub
  .github/workflows/publish_next_web-features.yml
Labels: tools and infrastructure

#1917 Prepare release v2.0.0
  packages/web-features/package-lock.json
  packages/web-features/package.json
Labels: package:web-features

#1909 Add Dataset
  features/dataset.yml
  features/dataset.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
Labels: feature definition

#1744 Add WebXR
  features/webxr-anchors.yml
  features/webxr-anchors.yml.dist
  features/webxr-ar.yml
  features/webxr-ar.yml.dist
  features/webxr-camera.yml
  features/webxr-camera.yml.dist
  features/webxr-depth-sensing.yml
  features/webxr-depth-sensing.yml.dist
  features/webxr-device.yml
  features/webxr-device.yml.dist
  features/webxr-dom-overlays.yml
  features/webxr-dom-overlays.yml.dist
  features/webxr-gamepads.yml
  features/webxr-gamepads.yml.dist
  features/webxr-hand-input.yml
  features/webxr-hand-input.yml.dist
  features/webxr-hit-test.yml
  features/webxr-hit-test.yml.dist
  features/webxr-layers.yml
  features/webxr-layers.yml.dist
  features/webxr-lighting-estimation.yml
  features/webxr-lighting-estimation.yml.dist
  groups/webxr.yml
Labels: feature definition

#1928 Add text-wrap-style.pretty key
  features/text-wrap-style.yml
  features/text-wrap-style.yml.dist
Labels: feature definition

#1839 Add console as a feature
  features/console.yml
  features/console.yml.dist
Labels: feature definition

#1831 Add object-fit and object-position
  features/object-fit.yml
  features/object-fit.yml.dist
  features/object-position.yml
  features/object-position.yml.dist
  features/object-view-box.yml
  features/object-view-box.yml.dist
Labels: feature definition

#1801 Adds page-setup and page-selectors for @page rules
  features/page-orientation.yml
  features/page-orientation.yml.dist
  features/page-selectors.yml
  features/page-selectors.yml.dist
  features/page-setup.yml
  features/page-setup.yml.dist
Labels: feature definition

#1798 Add resolution media queries
  features/resolution.yml
  features/resolution.yml.dist
Labels: feature definition

#1819 Adds multi-column layout
  features/column-fill.yml
  features/column-fill.yml.dist
  features/column-span.yml
  features/column-span.yml.dist
  features/multi-column.yml
  features/multi-column.yml.dist
  groups/multi-column.yml
Labels: feature definition

#1658 Add Iterators and the for..of loop
  features/iterators.yml
  features/iterators.yml.dist
Labels: feature definition

#1669 Add Symbol
  features/symbol.yml
  features/symbol.yml.dist
Labels: feature definition

#1832 Add gradients feature
  features/gradients.yml
  features/gradients.yml.dist
Labels: feature definition

#1936 Revise description for `symbol`
  features/symbol.yml
Labels: feature definition

#1836 Add Remote Playback API
  features/remote-playback.yml
  features/remote-playback.yml.dist
Labels: feature definition

#1913 Add messaging APIs and their infra
  features/broadcast-channel.yml
  features/channel-messaging.yml
  features/channel-messaging.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
  features/messageerror.yml
  features/postmessage.yml
  features/postmessage.yml.dist
  features/server-sent-events.yml
  features/server-sent-events.yml.dist
  groups/messaging.yml
Labels: feature definition

#1940 Readd MathML BCD compat_features
  features/mathml.yml
  features/mathml.yml.dist
Labels: feature definition

#1914 Adds view transitions features for cross-document transitions and transition selection, and adds a new group
  features/active-view-transition.yml
  features/active-view-transition.yml.dist
  features/cross-document-view-transitions.yml
  features/cross-document-view-transitions.yml.dist
  features/view-transition-class.yml
  features/view-transition-class.yml.dist
  features/view-transitions.yml
  features/view-transitions.yml.dist
  groups/view-transitions.yml
Labels: feature definition

#1938 Add Hyphenate Character and Hyphenate Limit Chars
  features/hyphenate-character.yml
  features/hyphenate-character.yml.dist
  features/hyphenate-limit-chars.yml
  features/hyphenate-limit-chars.yml.dist
Labels: feature definition

#1937 Add Hanging Punctuation
  features/hanging-punctuation.yml
  features/hanging-punctuation.yml.dist
Labels: feature definition

#1916 Add Length Units
  features/ch.yml
  features/ch.yml.dist
  features/em-unit.yml
  features/em-unit.yml.dist
  features/ex.yml
  features/ex.yml.dist
  features/q-unit.yml
  features/q-unit.yml.dist
  features/rcap.yml
  features/rcap.yml.dist
  features/rch.yml
  features/rch.yml.dist
  features/rem.yml
  features/rem.yml.dist
  features/rex.yml
  features/rex.yml.dist
  features/ric.yml
  features/ric.yml.dist
  features/rlh.yml
  features/rlh.yml.dist
Labels: feature definition

#1850 Add URL API
  features/url.yml
  features/url.yml.dist
Labels: feature definition

#1945 Add drag and drop
  features/draganddrop.yml
  features/draganddrop.yml.dist
  features/file-system-access.yml
  features/file-system-access.yml.dist
Labels: feature definition

#1941 Add additional keys to `paint`
  features/paint.yml
  features/paint.yml.dist
Labels: feature definition

#1956 Add WebDriver extension features
  features/compute-pressure.yml
  features/draft/spec/compute-pressure.yml
  features/virtual-pressure-sources.yml
  features/virtual-pressure-sources.yml.dist
  features/virtual-sensors.yml
  features/virtual-sensors.yml.dist
  groups/compute-pressure.yml
Labels: feature definition

#1962 Add missing key to Intl.Locale info
  features/draft/spec/tc39-intl-locale-info.yml
  features/draft/spec/tc39-intl-locale-info.yml.dist
  features/intl-locale-info.yml
  features/intl-locale-info.yml.dist
Labels: feature definition

#1906 Add Domparser
  features/domparser.yml
  features/domparser.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
  features/xml-serializer.yml
  groups/parsing-and-serialization.yml
Labels: feature definition

#1891 Shorthand and longhand styleguide entry
  docs/guidelines.md
Labels: documentation

#1964 WebUSB: use compute_from
  features/draft/spec/webusb.yml
  features/draft/spec/webusb.yml.dist
  features/webusb.yml
  features/webusb.yml.dist
Labels: feature definition

#1950 Update MathML feature
  features/draft/spec/mathml-core.yml
  features/draft/spec/mathml-core.yml.dist
  features/mathml.yml
  features/mathml.yml.dist
Labels: feature definition

#1942 Update scroll-snap keys
  features/scroll-snap.yml
  features/scroll-snap.yml.dist
Labels: feature definition

#1943 Adds visibility and reading-flow features
  features/draft/spec/css-display-3.yml
  features/draft/spec/css-display-3.yml.dist
  features/reading-flow.yml
  features/reading-flow.yml.dist
  features/visibility.yml
  features/visibility.yml.dist
Labels: feature definition

#1919 Adds CSS transitions feature
  features/transition-behavior.yml
  features/transitions.yml
  features/transitions.yml.dist
  groups/transitions.yml
Labels: feature definition

#1812 Adds cubic-bezier() and steps() easing functions
  features/cubic-bezier-easing.yml
  features/cubic-bezier-easing.yml.dist
  features/steps-easing.yml
  features/steps-easing.yml.dist
Labels: feature definition

#1955 Add BlinkOn presentation to home page
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation

#1975 Adds keys to Scroll Driven Animations and Animations (CSS)
  features/animations-css.yml
  features/animations-css.yml.dist
  features/scroll-driven-animations.yml
  features/scroll-driven-animations.yml.dist
Labels: feature definition

#1773 Add Storage APIs
  features/draft/spec/requeststorageaccessfor.yml
  features/draft/spec/requeststorageaccessfor.yml.dist
  features/draft/spec/storage.yml
  features/localstorage.yml
  features/localstorage.yml.dist
  features/non-cookie-storage-access.yml
  features/non-cookie-storage-access.yml.dist
  features/shared-storage.yml
  features/shared-storage.yml.dist
  features/storage-access.yml
  features/storage-access.yml.dist
  features/storage-buckets.yml
  features/storage-manager.yml
  features/storage-manager.yml.dist
  groups/storage.yml
Labels: feature definition

#1965 WebMidi: use compute_from
  features/draft/spec/webmidi.yml
  features/draft/spec/webmidi.yml.dist
  features/web-midi.yml
  features/web-midi.yml.dist
Labels: feature definition

#1961 Add missing keys to WebXR features
  features/draft/spec/webxr-dom-overlays-1.yml
  features/draft/spec/webxr-dom-overlays-1.yml.dist
  features/draft/spec/webxr.yml
  features/draft/spec/webxr.yml.dist
  features/webxr-device.yml
  features/webxr-device.yml.dist
  features/webxr-dom-overlays.yml
  features/webxr-dom-overlays.yml.dist
Labels: feature definition

#1960 Add more keys to console feature
  features/console.yml
  features/console.yml.dist
Labels: feature definition

#1991 Add missing key to float16array feature
  features/float16array.yml
  features/float16array.yml.dist
Labels: feature definition

#1992 Add keys introduced by BCD 5.6.7
  features/ruby-position.yml
  features/ruby-position.yml.dist
  features/xhr.yml
  features/xhr.yml.dist
Labels: feature definition

#1888 New Selection API features
  features/composed-ranges.yml
  features/composed-ranges.yml.dist
  features/draft/spec/selection-api.yml
  features/selection-api.yml
  features/selection-api.yml.dist
  features/selection.yml
  features/text-decoration-selection.yml
  groups/selection.yml
Labels: feature definition

#1982 Add more fetch keys
  features/fetch.yml
  features/fetch.yml.dist
Labels: feature definition

#1986 Adds text decoration and text emphasis
  features/text-decoration.yml
  features/text-decoration.yml.dist
  features/text-emphasis.yml
  features/text-emphasis.yml.dist
Labels: feature definition

#1968 Adds shadow parts
  features/shadow-parts.yml
  features/shadow-parts.yml.dist
Labels: feature definition

#1974 Adds host scoping pseudo-element
  features/host-context.yml
  features/host-context.yml.dist
  features/host.yml
  features/host.yml.dist
Labels: feature definition

#1976 Adds @namespace rule
  features/namespace.yml
  features/namespace.yml.dist
Labels: feature definition

#1978 Add Text Size Adjust
  features/text-size-adjust.yml
  features/text-size-adjust.yml.dist
Labels: feature definition

#1949 Add Xpath, XSLT and an xml group
  features/xml-serializer.yml
  features/xpath.yml
  features/xpath.yml.dist
  features/xslt.yml
  features/xslt.yml.dist
  groups/xml.yml
Labels: feature definition

#1979 Adds CSS Text properties
  features/letter-spacing.yml
  features/letter-spacing.yml.dist
  features/line-break.yml
  features/line-break.yml.dist
  features/overflow-wrap.yml
  features/overflow-wrap.yml.dist
  features/svg.yml
  features/svg.yml.dist
  features/text-align-last.yml
  features/text-align-last.yml.dist
  features/text-align.yml
  features/text-align.yml.dist
  features/text-indent-each-line.yml
  features/text-indent-each-line.yml.dist
  features/text-indent-hanging.yml
  features/text-indent-hanging.yml.dist
  features/text-justify.yml
  features/text-justify.yml.dist
  features/text-spacing-trim.yml
  features/text-spacing-trim.yml.dist
  features/text-transform.yml
  features/text-transform.yml.dist
  features/word-break-auto-phrase.yml
  features/word-break-auto-phrase.yml.dist
  features/word-break.yml
  features/word-break.yml.dist
  features/word-spacing.yml
  features/word-spacing.yml.dist
  groups/text-wrap.yml
  groups/text.yml
Labels: feature definition

#1973 Add comments for features that regressed Baseline status
  features/font-variant-position.yml
  features/popover.yml
Labels: feature definition

#2013 Fix decodedBodySize and encodedBodySize property names in resource-size description
  features/resource-size.yml
Labels: feature definition

#2008 Add CanvasPattern
  features/canvas-2d.yml
  features/canvas-2d.yml.dist
Labels: feature definition

#2017 `namespace`: remove Markdown from the feature name
  features/namespace.yml
Labels: feature definition

#1951 Add offset-position to motion-path
  features/draft/spec/motion-1.yml
  features/draft/spec/motion-1.yml.dist
  features/motion-path.yml
  features/motion-path.yml.dist
Labels: feature definition

#1948 Add WebGPU
  features/webgpu.yml
  features/webgpu.yml.dist
Labels: feature definition

#2019 Add image()
  features/image-function.yml
  features/image-function.yml.dist
Labels: feature definition

#1668 Add ArrayBuffer and DataView to typed-arrays
  features/typed-arrays.yml
  features/typed-arrays.yml.dist
Labels: feature definition

#1934 Add Performance APIs
  features/bfcache-blocking-reasons.yml
  features/bfcache-blocking-reasons.yml.dist
  features/draft/spec/css-multicol-1.yml
  features/draft/spec/ecmascript.yml
  features/draft/spec/ecmascript.yml.dist
  features/draft/spec/hr-time-3.yml
  features/draft/spec/hr-time-3.yml.dist
  features/draft/spec/html.yml
  features/draft/spec/html.yml.dist
  features/draft/spec/paint-timing.yml
  features/draft/spec/performance-measure-memory.yml
  features/draft/spec/performance-timeline.yml
  features/draft/spec/performance-timeline.yml.dist
  features/draft/spec/resource-timing.yml
  features/draft/spec/resource-timing.yml.dist
  features/draft/spec/user-timing.yml
  features/draft/spec/user-timing.yml.dist
  features/element-timing.yml
  features/element-timing.yml.dist
  features/event-timing.yml
  features/event-timing.yml.dist
  features/largest-contentful-paint.yml
  features/largest-contentful-paint.yml.dist
  features/layout-instability.yml
  features/layout-instability.yml.dist
  features/longtasks.yml
  features/longtasks.yml.dist
  features/measure-memory.yml
  features/measure-memory.yml.dist
  features/navigation-timing.yml
  features/navigation-timing.yml.dist
  features/page-visibility-state.yml
  features/page-visibility-state.yml.dist
  features/paint-timing.yml
  features/paint-timing.yml.dist
  features/performance.yml
  features/performance.yml.dist
  features/resource-size.yml
  features/resource-timing.yml
  features/resource-timing.yml.dist
  features/server-timing.yml
  groups/performance.yml
  groups/resource-timing.yml
Labels: feature definition

#1952 Add bidirectional-override
  features/layout-direction-override.yml
  features/layout-direction-override.yml.dist
Labels: feature definition

#2001 Adds text baseline features
  features/alignment-baseline.yml
  features/alignment-baseline.yml.dist
  features/baseline-shift.yml
  features/baseline-shift.yml.dist
  features/dominant-baseline.yml
  features/dominant-baseline.yml.dist
  features/line-height.yml
  features/line-height.yml.dist
Labels: feature definition

#2033 Add more keys to SMIL SVG Animations
  features/smil-svg-animations.yml
  features/smil-svg-animations.yml.dist
Labels: feature definition

#2026 Add a key to web-midi
  features/web-midi.yml
  features/web-midi.yml.dist
Labels: feature definition

#2029 Add more keys to Web Crypto
  features/web-cryptography.yml
  features/web-cryptography.yml.dist
Labels: feature definition

#2038 Add a key to Shared Storage
  features/shared-storage.yml
  features/shared-storage.yml.dist
Labels: feature definition

#2036 Add more keys to Storage access
  features/storage-access.yml
  features/storage-access.yml.dist
Labels: feature definition

#2040 Add more keys to Scheduler
  features/scheduler.yml
  features/scheduler.yml.dist
Labels: feature definition

#2024 Again more keys for XHR
  features/xhr.yml
  features/xhr.yml.dist
Labels: feature definition

#2041 Prepare release v2.1.0
  packages/web-features/package-lock.json
  packages/web-features/package.json
Labels: package:web-features

#2025 More keys for WebUSB
  features/webusb.yml
  features/webusb.yml.dist
Labels: feature definition

#2030 Add more keys to Audio/OfflineAudioContext
  features/offline-audio-context.yml
  features/offline-audio-context.yml.dist
  features/web-audio.yml
  features/web-audio.yml.dist
Labels: feature definition

#2032 Add more keys to URL
  features/url.yml
  features/url.yml.dist
Labels: feature definition

#2039 Add more Active View Transition keys
  features/active-view-transition.yml
  features/active-view-transition.yml.dist
  features/draft/spec/css-view-transitions-2.yml
  features/draft/spec/css-view-transitions-2.yml.dist
Labels: feature definition

#2037 Add additional cursor keys
  features/cursor.yml
  features/cursor.yml.dist
  features/draft/spec/css-ui-4.yml
  features/draft/spec/css-ui-4.yml.dist
Labels: feature definition

#2035 Add additional CSS Animation key
  features/animations-css.yml
  features/animations-css.yml.dist
  features/draft/spec/css-animations-2.yml
  features/draft/spec/css-animations-2.yml.dist
Labels: feature definition

#2034 Add more keys to transform features
  features/draft/spec/css-transforms-2.yml
  features/draft/spec/css-transforms-2.yml.dist
  features/individual-transforms.yml
  features/individual-transforms.yml.dist
  features/transforms2d.yml
  features/transforms2d.yml.dist
Labels: feature definition

#2031 Add a key to WebNFC
  features/web-nfc.yml
  features/web-nfc.yml.dist
Labels: feature definition

#2028 Add more keys to WebGPU
  features/webgpu.yml
  features/webgpu.yml.dist
Labels: feature definition

#2027 Add more keys to WebHID
  features/webhid.yml
  features/webhid.yml.dist
Labels: feature definition

#1959 Add CSP
  features/csp.yml
  features/csp.yml.dist
  features/draft/spec/csp-embedded-enforcement.yml
  features/draft/spec/csp-embedded-enforcement.yml.dist
  groups/security.yml
Labels: feature definition

#2066 Add more keys to WebGL
  features/webgl.yml
  features/webgl.yml.dist
Labels: feature definition

#2065 Add more keys to WebSockets
  features/websockets.yml
  features/websockets.yml.dist
Labels: feature definition

#2064 Add more keys to Web authentication
  features/webauthn.yml
  features/webauthn.yml.dist
Labels: feature definition

#2060 Add keys to Background sync
  features/background-sync.yml
  features/background-sync.yml.dist
Labels: feature definition

#2059 Add more keys to battery
  features/battery.yml
  features/battery.yml.dist
Labels: feature definition

#2058 Add a key to console
  features/console.yml
  features/console.yml.dist
Labels: feature definition

#2057 Add a key to Credential Management
  features/credential-management.yml
  features/credential-management.yml.dist
Labels: feature definition

#2056 Add a key to Intl
  features/intl.yml
  features/intl.yml.dist
Labels: feature definition

#2055 Add a key to Eyedropper
  features/eyedropper.yml
  features/eyedropper.yml.dist
Labels: feature definition

#2051 Add more keys to Keyboard map
  features/keyboard-map.yml
  features/keyboard-map.yml.dist
Labels: feature definition

#2048 Add more keys to Referrer Policy
  features/referrer-policy.yml
  features/referrer-policy.yml.dist
Labels: feature definition

#2043 Add checklist for handling BCD upgrades
  .github/workflows/bcd_upgrade_checklist.yml
Labels: tools and infrastructure

#2073 Fix checklist for BCD upgrades workflow
  .github/workflows/bcd_upgrade_checklist.yml
Labels: tools and infrastructure

#2077 Fix checklist for BCD upgrades workflow (round 2)
  .github/workflows/bcd_upgrade_checklist.yml
Labels: tools and infrastructure

#2079 Fix checklist for BCD upgrades workflow (round 3)
  .github/workflows/bcd_upgrade_checklist.yml
Labels: tools and infrastructure

#2020 `scroll-driven-animations`: revise description for search
  features/scroll-driven-animations.yml
Labels: feature definition

#1931 Add Navigator and more navigation pieces
  features/cookie-enabled.yml
  features/cookie-enabled.yml.dist
  features/hardware-concurrency.yml
  features/hardware-concurrency.yml.dist
  features/language.yml
  features/language.yml.dist
  features/navigation.yml
  features/navigation.yml.dist
  features/navigator.yml
  features/navigator.yml.dist
  features/online.yml
  features/online.yml.dist
  features/pdf-viewer.yml
  features/pdf-viewer.yml.dist
  features/registerprotocolhandler.yml
  features/registerprotocolhandler.yml.dist
  features/user-agent-sniffing.yml
  features/user-agent-sniffing.yml.dist
Labels: feature definition

#2091 Revise BCD upgrade checklist
  .github/workflows/bcd_upgrade_checklist.yml
Labels: tools and infrastructure

#2093 Update drafts workflow: document tests workaround
  .github/workflows/update_draft_features_weekly.yml
Labels: tools and infrastructure

#1999 Add CSSOM and related features
  features/alternative-style-sheets.yml
  features/alternative-style-sheets.yml.dist
  features/css-escape.yml
  features/css-escape.yml.dist
  features/css-object-model.yml
  features/css-object-model.yml.dist
  features/get-computed-style.yml
  features/get-computed-style.yml.dist
  groups/cssom.yml
Labels: feature definition

#2074 Add Long animation frames (LoAFs)
  features/long-animation-frames.yml
  features/long-animation-frames.yml.dist
Labels: feature definition

#2052 Add more keys to Intersection observer
  features/intersection-observer.yml
  features/intersection-observer.yml.dist
Labels: feature definition

#2050 Add more keys to PiP and use compute_from
  features/picture-in-picture.yml
  features/picture-in-picture.yml.dist
Labels: feature definition

#2080 Update notes on relative colors
  features/relative-color.yml
Labels: feature definition

#2095 Add CSSImportRule.supportsText key to @supports
  features/supports.yml
  features/supports.yml.dist
Labels: feature definition

#2000 Add CSS numeric factory
  features/numeric-factory-functions.yml
  features/numeric-factory-functions.yml.dist
Labels: feature definition

#1954 Request docs/demos link in the new feature issue template
  .github/ISSUE_TEMPLATE/new-feature.yml
Labels: tools and infrastructure

#2054 Add a key to SVG
  features/svg.yml
  features/svg.yml.dist
Labels: feature definition

#2042 `release.ts`: fix diff buffer full
  scripts/release.ts
Labels: tools and infrastructure

#2006 Publishing docs: add informing consumers to the release steps
  docs/publishing.md
Labels: documentation

#2103 Add scroll snap events
  features/scroll-snap-events.yml
  features/scroll-snap-events.yml.dist
Labels: feature definition

#2105 Add missing shape keys
  features/shape-outside.yml
  features/shape-outside.yml.dist
  features/shapes.yml
  features/shapes.yml.dist
Labels: feature definition

#2106 Error if multiple features use the same caniuse id
  scripts/caniuse.ts
Labels: tools and infrastructure

#2104 Add more keys to OPFS and File system access
  features/file-system-access.yml
  features/file-system-access.yml.dist
  features/origin-private-file-system.yml
  features/origin-private-file-system.yml.dist
Labels: feature definition

#2101 Add missing keys to masks
  features/masks.yml
  features/masks.yml.dist
Labels: feature definition

#2102 Add additional overflow keys
  features/custom-ellipsis.yml
  features/custom-ellipsis.yml.dist
  features/line-clamp.yml
  features/line-clamp.yml.dist
  features/logical-properties.yml
  features/logical-properties.yml.dist
  features/overflow-shorthand.yml
  features/text-overflow.yml
  features/text-overflow.yml.dist
Labels: feature definition

#2120 Make custom ellipses identifier match name
  features/custom-ellipses.yml
  features/custom-ellipses.yml.dist
Labels: feature definition

#1997 Adds Text underline position & text shadow
  features/text-shadow.yml
  features/text-shadow.yml.dist
  features/text-underline-position.yml
  features/text-underline-position.yml.dist
Labels: feature definition

#2127 Fix missing backtick in registerprotocolhandler description
  features/registerprotocolhandler.yml
Labels: feature definition

#2108 Adds additional key to cubic bezier easing
  features/cubic-bezier-easing.yml
  features/cubic-bezier-easing.yml.dist
Labels: feature definition

#2125 Flag the "Towards features" document as historical
  towards-features.md
Labels: documentation

#1743 Add Payment Request and Payment Handler
  features/payment-handler.yml
  features/payment-handler.yml.dist
  features/payment-request.yml
  features/payment-request.yml.dist
  groups/payments.yml
Labels: feature definition
