Repository web-platform-dx/web-features, pull requests merged in 2024-04, with the labels that each got.

#785 Add utilities for finding BCD tag data
  packages/compute-baseline/src/browser-compat-data/compat.test.ts
  packages/compute-baseline/src/browser-compat-data/compat.ts
  packages/compute-baseline/src/browser-compat-data/feature.test.ts
  packages/compute-baseline/src/browser-compat-data/feature.ts
Labels: package:compute-baseline

#835 Add verbosity option to dist script and bring your own logging to compute-baseline
  packages/compute-baseline/src/baseline/index.ts
  packages/compute-baseline/src/baseline/support.ts
  scripts/dist.ts
Labels: package:compute-baseline

#839 `container-queries`: include more subfeatures
  feature-group-definitions/container-queries.yml
Labels: feature definition

#836 Add description style guide entries for "device" and "platform"
  docs/README.md
Labels: documentation

#837 `device-orientation-events`: add intial feature
  feature-group-definitions/device-orientation-events.dist.yml
  feature-group-definitions/device-orientation-events.yml
Labels: feature definition

#843 Improve contain-intrinsic-size description
  feature-group-definitions/contain-intrinsic-size.yml
Labels: feature definition

#752 Adding missing feature descriptions - Batch 3
  feature-group-definitions/custom-properties.dist.yml
  feature-group-definitions/custom-properties.yml
  feature-group-definitions/default.dist.yml
  feature-group-definitions/default.yml
  feature-group-definitions/details-name.dist.yml
  feature-group-definitions/details-name.yml
  feature-group-definitions/details.dist.yml
  feature-group-definitions/details.yml
  feature-group-definitions/device-posture.dist.yml
  feature-group-definitions/device-posture.yml
  feature-group-definitions/dialog.dist.yml
  feature-group-definitions/dialog.yml
  feature-group-definitions/document-picture-in-picture.yml
  feature-group-definitions/edit-context.dist.yml
  feature-group-definitions/edit-context.yml
  feature-group-definitions/fetch-priority.dist.yml
  feature-group-definitions/fetch-priority.yml
  feature-group-definitions/flexbox-gap.dist.yml
  feature-group-definitions/flexbox-gap.yml
Labels: feature-definition

#855 Add feature for animatable display
  feature-group-definitions/display-animation.dist.yml
  feature-group-definitions/display-animation.yml
Labels: feature definition, feature-definition

#753 Adding missing feature descriptions - Batch 4
  feature-group-definitions/flexbox.dist.yml
  feature-group-definitions/flexbox.yml
  feature-group-definitions/focus-visible.dist.yml
  feature-group-definitions/focus-visible.yml
  feature-group-definitions/font-face.yml
  feature-group-definitions/font-optical-sizing.dist.yml
  feature-group-definitions/font-optical-sizing.yml
  feature-group-definitions/font-palette-animation.dist.yml
  feature-group-definitions/font-palette-animation.yml
  feature-group-definitions/font-palette.dist.yml
  feature-group-definitions/font-palette.yml
  feature-group-definitions/font-synthesis.yml
  feature-group-definitions/fullscreen.yml
  feature-group-definitions/grid-animation.dist.yml
  feature-group-definitions/grid-animation.yml
Labels: feature-definition

#755 Adding missing feature descriptions - Batch 6
  feature-group-definitions/intersection-observer.yml
  feature-group-definitions/jpegxl.yml
  feature-group-definitions/line-clamp.yml
  feature-group-definitions/media-query-range-syntax.yml
  feature-group-definitions/modulepreload.yml
  feature-group-definitions/motion-path.dist.yml
  feature-group-definitions/motion-path.yml
  feature-group-definitions/navigation.yml
  feature-group-definitions/nesting.dist.yml
  feature-group-definitions/nesting.yml
  feature-group-definitions/offscreen-canvas.yml
Labels: feature-definition

#760 Adding missing feature descriptions - Batch 11
  feature-group-definitions/viewport-relative-unit-variants.dist.yml
  feature-group-definitions/viewport-relative-unit-variants.yml
  feature-group-definitions/viewport-relative-units.dist.yml
  feature-group-definitions/viewport-relative-units.yml
  feature-group-definitions/visual-viewport.dist.yml
  feature-group-definitions/visual-viewport.yml
  feature-group-definitions/web-animations.yml
  feature-group-definitions/webcodecs.dist.yml
  feature-group-definitions/webcodecs.yml
  feature-group-definitions/webdriver-bidi.dist.yml
  feature-group-definitions/webdriver-bidi.yml
  feature-group-definitions/webhid.dist.yml
  feature-group-definitions/webhid.yml
  feature-group-definitions/webp.yml
  feature-group-definitions/webtransport.yml
  feature-group-definitions/webusb.dist.yml
  feature-group-definitions/webusb.yml
Labels: feature-definition

#871 Remove all "new_required" BCD keys
  feature-group-definitions/map.yml
  feature-group-definitions/set.yml
  feature-group-definitions/typed-arrays.yml
Labels: feature-definition

#853 Add text-wrap: nowrap
  feature-group-definitions/text-wrap-nowrap.dist.yml
  feature-group-definitions/text-wrap-nowrap.yml
Labels: feature definition

#861 Add Web Speech API group
  feature-group-definitions/speech-recognition.yml
  feature-group-definitions/speech-synthesis.yml
  groups/speech.yml
Labels: feature definition

#828 Refer to AbortController and BroadcastChannel as APIs
  feature-group-definitions/aborting.dist.yml
  feature-group-definitions/aborting.yml
  feature-group-definitions/broadcast-channel.yml
Labels: feature definition

#757 Adding missing feature descriptions - Batch 8
  feature-group-definitions/scroll-snap.yml
  feature-group-definitions/scrollbar-color.dist.yml
  feature-group-definitions/scrollbar-color.yml
  feature-group-definitions/scrollbar-gutter.dist.yml
  feature-group-definitions/scrollbar-gutter.yml
  feature-group-definitions/scrollbar-width.dist.yml
  feature-group-definitions/scrollbar-width.yml
  feature-group-definitions/search-input-type.yml
  feature-group-definitions/search.dist.yml
  feature-group-definitions/search.yml
  feature-group-definitions/server-timing.dist.yml
  feature-group-definitions/server-timing.yml
  feature-group-definitions/set-methods.yml
  feature-group-definitions/shadow-dom.yml
  feature-group-definitions/slot.yml
Labels: feature definition

#758 Adding missing feature descriptions - Batch 9
  feature-group-definitions/speech-recognition.yml
  feature-group-definitions/speech-synthesis.yml
  feature-group-definitions/starting-style.dist.yml
  feature-group-definitions/starting-style.yml
  feature-group-definitions/sticky-positioning.dist.yml
  feature-group-definitions/sticky-positioning.yml
  feature-group-definitions/storage-buckets.dist.yml
  feature-group-definitions/storage-buckets.yml
  feature-group-definitions/structured-clone.dist.yml
  feature-group-definitions/structured-clone.yml
  feature-group-definitions/subgrid.dist.yml
  feature-group-definitions/subgrid.yml
  feature-group-definitions/svg2-script-html-equivalence.dist.yml
  feature-group-definitions/svg2-script-html-equivalence.yml
  feature-group-definitions/tabindex.dist.yml
  feature-group-definitions/tabindex.yml
  feature-group-definitions/template.dist.yml
  feature-group-definitions/template.yml
Labels: feature definition

#759 Adding missing feature descriptions - Batch 10
  feature-group-definitions/temporal.dist.yml
  feature-group-definitions/temporal.yml
  feature-group-definitions/text-box-trim.yml
  feature-group-definitions/text-indent.dist.yml
  feature-group-definitions/text-indent.yml
  feature-group-definitions/text-wrap-balance.yml
  feature-group-definitions/text-wrap-pretty.dist.yml
  feature-group-definitions/text-wrap-pretty.yml
  feature-group-definitions/transition-behavior.dist.yml
  feature-group-definitions/transition-behavior.yml
  feature-group-definitions/trusted-types.yml
  feature-group-definitions/user-pseudos.dist.yml
  feature-group-definitions/user-pseudos.yml
  feature-group-definitions/view-transitions.dist.yml
  feature-group-definitions/view-transitions.yml
Labels: feature definition

#895 Fix Baseline calculation when support was added then removed
  feature-group-definitions/starting-style.dist.yml
  packages/compute-baseline/src/baseline/index.test.ts
  packages/compute-baseline/src/baseline/index.test.ts.snap
  packages/compute-baseline/src/baseline/support.ts
Labels: bug, package:compute-baseline

#865 Add requestVideoFrameCallback()
  feature-group-definitions/request-video-frame-callback.dist.yml
  feature-group-definitions/request-video-frame-callback.yml
Labels: feature definition

#862 Descriptions for where is has
  feature-group-definitions/has.dist.yml
  feature-group-definitions/has.yml
  feature-group-definitions/is.dist.yml
  feature-group-definitions/is.yml
  feature-group-definitions/where.dist.yml
  feature-group-definitions/where.yml
Labels: feature definition

#887 Add user activation API
  feature-group-definitions/user-activation.dist.yml
  feature-group-definitions/user-activation.yml
Labels: feature definition

#883 Add WebRTC SCTP information
  feature-group-definitions/webrtc-sctp.dist.yml
  feature-group-definitions/webrtc-sctp.yml
Labels: feature definition

#881 Add WebAuthn easy public key access
  feature-group-definitions/webauthn-public-key-easy.dist.yml
  feature-group-definitions/webauthn-public-key-easy.yml
Labels: feature definition

#877 Add audio-video-tracks.dist.yml
  feature-group-definitions/audio-video-tracks.dist.yml
Labels: feature definition

#870 Remove unneeded overrides after BCD update
  feature-group-definitions/aborting.yml
  feature-group-definitions/abs-sign.yml
  feature-group-definitions/accent-color.yml
  feature-group-definitions/animation-composition.yml
  feature-group-definitions/array-at.yml
  feature-group-definitions/aspect-ratio.yml
  feature-group-definitions/autofill.yml
  feature-group-definitions/backdrop-filter.dist.yml
  feature-group-definitions/backdrop-filter.yml
  feature-group-definitions/background-clip-text.yml
  feature-group-definitions/background-clip.yml
  feature-group-definitions/blocking-render.yml
  feature-group-definitions/class-syntax.yml
  feature-group-definitions/colrv1.yml
  feature-group-definitions/container-style-queries.yml
  feature-group-definitions/declarative-shadow-dom.yml
  feature-group-definitions/details-name.yml
  feature-group-definitions/edit-context.dist.yml
  feature-group-definitions/edit-context.yml
  feature-group-definitions/exp-functions.dist.yml
  feature-group-definitions/exp-functions.yml
  feature-group-definitions/font-optical-sizing.yml
  feature-group-definitions/font-palette.yml
  feature-group-definitions/font-variant-alternates.yml
  feature-group-definitions/individual-transforms.yml
  feature-group-definitions/linear-easing.yml
  feature-group-definitions/prefers-color-scheme.yml
  feature-group-definitions/round-mod-rem.dist.yml
  feature-group-definitions/round-mod-rem.yml
  feature-group-definitions/scrollbar-color.yml
  feature-group-definitions/scrollbar-gutter.yml
  feature-group-definitions/scrollbar-width.yml
  feature-group-definitions/search.yml
  feature-group-definitions/show-picker-select.yml
  feature-group-definitions/starting-style.yml
  feature-group-definitions/template.yml
  feature-group-definitions/text-spacing-trim.yml
  feature-group-definitions/text-wrap-pretty.yml
  feature-group-definitions/transition-behavior.yml
  feature-group-definitions/trig-functions.dist.yml
  feature-group-definitions/trig-functions.yml
  feature-group-definitions/user-pseudos.yml
Labels: feature definition

#838 Add `autofocus` feature
  feature-group-definitions/autofocus.dist.yml
  feature-group-definitions/autofocus.yml
Labels: feature definition

#908 Remove unnecessary BCD overrides
  feature-group-definitions/cap.dist.yml
  feature-group-definitions/cap.yml
  feature-group-definitions/ic.dist.yml
  feature-group-definitions/ic.yml
  feature-group-definitions/lh.dist.yml
  feature-group-definitions/lh.yml
Labels: feature definition

#857 `aria-attribute-reflection`: add initial support feature
  feature-group-definitions/aria-attribute-reflection.dist.yml
  feature-group-definitions/aria-attribute-reflection.yml
Labels: feature definition

#909 Add inert
  feature-group-definitions/inert.dist.yml
  feature-group-definitions/inert.yml
Labels: feature definition

#912 Add push messages (Push API)
  feature-group-definitions/push.dist.yml
  feature-group-definitions/push.yml
Labels: feature definition

#911 Add messageerror
  feature-group-definitions/messageerror.dist.yml
  feature-group-definitions/messageerror.yml
Labels: feature definition

#914 Add counter-set
  feature-group-definitions/counter-set.dist.yml
  feature-group-definitions/counter-set.yml
Labels: feature definition

#916 Add CSS hyphenation
  feature-group-definitions/hyphens.dist.yml
  feature-group-definitions/hyphens.yml
Labels: feature definition

#913 Add screen orientation and screen orientation lock
  feature-group-definitions/screen-orientation-lock.dist.yml
  feature-group-definitions/screen-orientation-lock.yml
  feature-group-definitions/screen-orientation.dist.yml
  feature-group-definitions/screen-orientation.yml
Labels: feature definition

#923 Add intersection-observer.dist.yml
  feature-group-definitions/intersection-observer.dist.yml
  feature-group-definitions/intersection-observer.yml
Labels: feature definition

#921 Add calc.dist.yml
  feature-group-definitions/calc.dist.yml
  feature-group-definitions/calc.yml
Labels: feature definition

#919 Add appearance.dist.yml
  feature-group-definitions/appearance.dist.yml
  feature-group-definitions/appearance.yml
Labels: feature definition

#927 Update popover.yml
  feature-group-definitions/popover.yml
Labels: feature definition

#882 Convert descriptions to plaintext + HTML
  index.ts
  package-lock.json
  package.json
Labels: feature definition

#939 Fix typo: intial
  feature-group-definitions/device-orientation-events.dist.yml
  feature-group-definitions/device-orientation-events.yml
Labels: feature definition

#941 Fix various typos
  feature-group-definitions/README.md
  feature-group-definitions/mathml.yml
  packages/web-features/README.md
  towards-features.md
Labels: feature definition

#931 Add `wasm-simd` WebAssembly feature
  feature-group-definitions/wasm-simd.dist.yml
  feature-group-definitions/wasm-simd.yml
Labels: feature definition

#933 Limit the length of names to 80 characters
  index.ts
Labels: feature definition

#954 Add CSS Module Scripts feature
  feature-group-definitions/css-modules.dist.yml
  feature-group-definitions/css-modules.yml
Labels: feature definition

#959 Rename viewport unit features to match caniuse
  feature-group-definitions/viewport-unit-variants.dist.yml
  feature-group-definitions/viewport-unit-variants.yml
  feature-group-definitions/viewport-units.dist.yml
  feature-group-definitions/viewport-units.yml
Labels: feature definition

#960 Add notifications (it's complicated)
  feature-group-definitions/notifications.dist.yml
  feature-group-definitions/notifications.yml
Labels: feature definition

#962 Add locks
  feature-group-definitions/web-locks.dist.yml
  feature-group-definitions/web-locks.yml
Labels: feature definition

#969 Make CSS property value vs CSS declaration consistent
  feature-group-definitions/background-clip-text.dist.yml
  feature-group-definitions/background-clip-text.yml
  feature-group-definitions/text-wrap-balance.dist.yml
  feature-group-definitions/text-wrap-balance.yml
  feature-group-definitions/text-wrap-nowrap.dist.yml
  feature-group-definitions/text-wrap-nowrap.yml
  feature-group-definitions/text-wrap-pretty.dist.yml
  feature-group-definitions/text-wrap-pretty.yml
  feature-group-definitions/transition-behavior.dist.yml
  feature-group-definitions/transition-behavior.yml
Labels: feature definition

#980 Add min-max-clamp.dist.yml
  feature-group-definitions/min-max-clamp.dist.yml
  feature-group-definitions/min-max-clamp.yml
Labels: feature definition

#981 Add modulepreload.dist.yml
  feature-group-definitions/modulepreload.dist.yml
  feature-group-definitions/modulepreload.yml
Labels: feature definition

#975 Add a group for CSS layout
  feature-group-definitions/flexbox-gap.dist.yml
  feature-group-definitions/flexbox-gap.yml
  feature-group-definitions/flexbox.dist.yml
  feature-group-definitions/flexbox.yml
  feature-group-definitions/grid.dist.yml
  feature-group-definitions/grid.yml
  feature-group-definitions/masonry.dist.yml
  feature-group-definitions/masonry.yml
  feature-group-definitions/subgrid.dist.yml
  feature-group-definitions/subgrid.yml
  groups/layout.yml
Labels: feature definition

#984 Update name and a.k.a of picture-in-picture
  feature-group-definitions/picture-in-picture.dist.yml
  feature-group-definitions/picture-in-picture.yml
Labels: feature definition

#994 Remove "initial support" where it doesn't disambiguate
  feature-group-definitions/aria-attribute-reflection.dist.yml
  feature-group-definitions/aria-attribute-reflection.yml
  feature-group-definitions/device-orientation-events.dist.yml
  feature-group-definitions/device-orientation-events.yml
Labels: feature definition

#976 Add status for MathML, bypassing BCD entirely
  feature-group-definitions/mathml.dist.yml
  feature-group-definitions/mathml.yml
Labels: feature definition

#995 Add `dirname`
  feature-group-definitions/dirname.dist.yml
  feature-group-definitions/dirname.yml
Labels: feature definition

#987 Add `transferable-arraybuffer` feature and `transferable-objects` group
  feature-group-definitions/transferable-arraybuffer.dist.yml
  feature-group-definitions/transferable-arraybuffer.yml
  groups/transferable.yml
Labels: feature definition

#992 Add OES_draw_buffers_indexed feature
  feature-group-definitions/webgl-oes-draw-buffers-indexed.dist.yml
  feature-group-definitions/webgl-oes-draw-buffers-indexed.yml
  groups/webgl.yml
Labels: feature definition

#996 Add `URL.canParse()` feature
  feature-group-definitions/url-canparse.dist.yml
  feature-group-definitions/url-canparse.yml
Labels: feature definition

#991 Add `fetch-metadata-request-headers`
  feature-group-definitions/fetch-metadata.dist.yml
  feature-group-definitions/fetch-metadata.yml
Labels: feature definition

#993 Add :modal
  feature-group-definitions/modal.dist.yml
  feature-group-definitions/modal.yml
Labels: feature definition

#990 Add `streams`
  feature-group-definitions/streams.dist.yml
  feature-group-definitions/streams.yml
Labels: feature definition

#1000 Remove Sanitizer API
  feature-group-definitions/sanitizer.yml
Labels: feature definition

#937 Update array and promise descriptions
  feature-group-definitions/array-at.dist.yml
  feature-group-definitions/array-at.yml
  feature-group-definitions/array-by-copy.yml
  feature-group-definitions/array-copywithin.yml
  feature-group-definitions/array-fill.yml
  feature-group-definitions/array-find.yml
  feature-group-definitions/array-findlast.yml
  feature-group-definitions/array-flat.dist.yml
  feature-group-definitions/array-flat.yml
  feature-group-definitions/array-from.yml
  feature-group-definitions/array-fromasync.yml
  feature-group-definitions/array-includes.yml
  feature-group-definitions/array-isarray.yml
  feature-group-definitions/array-of.yml
  feature-group-definitions/array-splice.yml
  feature-group-definitions/promise-allsettled.yml
  feature-group-definitions/promise-any.yml
  feature-group-definitions/promise-finally.yml
  feature-group-definitions/promise-withresolvers.yml
Labels: feature definition

#965 Add ::scroll-marker as a draft feature
  feature-group-definitions/scroll-marker.yml
  index.ts
Labels: feature definition

#946 Add status for HTTP/1.1
  feature-group-definitions/http11.yml
Labels: feature definition

#1004 Add scroll-snap.dist.yml
  feature-group-definitions/scroll-snap.dist.yml
  feature-group-definitions/scroll-snap.yml
Labels: feature definition

#1003 Add `form-associated-custom-elements` (`ElementInternals`)
  feature-group-definitions/form-associated-custom-elements.dist.yml
  feature-group-definitions/form-associated-custom-elements.yml
Labels: feature definition

#1007 Split text fragments into a group with two features
  feature-group-definitions/scroll-to-text-fragment.dist.yml
  feature-group-definitions/scroll-to-text-fragment.yml
  feature-group-definitions/target-text.dist.yml
  feature-group-definitions/target-text.yml
  feature-group-definitions/text-fragments.yml
  groups/text-fragments.yml
Labels: feature definition

#957 Remove background gradients feature
  feature-group-definitions/background-gradients.yml
Labels: feature definition

#1014 Make (prefixed) speech recognition draft
  feature-group-definitions/speech-recognition.yml
Labels: feature definition

#1017 Add conic gradients
  feature-group-definitions/conic-gradients.dist.yml
  feature-group-definitions/conic-gradients.yml
  groups/gradients.yml
Labels: feature definition

#1015 Manually set status for Web Bluetooth
  feature-group-definitions/web-bluetooth.yml
Labels: feature definition
