Repository web-platform-dx/web-features, pull requests merged in 2024-07, with the labels that each got.

#1290 `container-queries`: remove similarly-named but irrelevant compat keys
  features/container-queries.yml
Labels: feature definition

#1291 `contain-intrinsic-size`: fix "layout" typo
  features/contain-intrinsic-size.yml
Labels: feature definition

#1227 Introduce compute_from to pin a feature's status to BCD key(s)
  features/broadcast-channel.yml
  features/broadcast-channel.yml.dist
  features/compression-streams.yml
  features/compression-streams.yml.dist
  features/container-queries.yml
  features/container-queries.yml.dist
  features/map.yml
  features/map.yml.dist
  features/media-capture.yml
  features/media-capture.yml.dist
  features/set.yml
  features/set.yml.dist
  features/trusted-types.yml
  features/trusted-types.yml.dist
  features/web-animations.yml
  features/web-animations.yml.dist
  features/webtransport.yml
  features/webtransport.yml.dist
  scripts/dist.ts
Labels: feature definition

#1302 Moving the <time> feature from drafts
  features/draft/html-elements/time.yml
  features/time.yml
  features/time.yml.dist
Labels: feature definition, refresh dist

#1304 Adding a few new Sensor features
  features/accelerometer.yml
  features/accelerometer.yml.dist
  features/device-orientation-events.yml
  features/gyroscope.yml
  features/gyroscope.yml.dist
  features/orientation-sensor.yml
  features/orientation-sensor.yml.dist
  groups/sensors.yml
Labels: feature definition

#1319 New URLPattern feature
  features/urlpattern.yml
  features/urlpattern.yml.dist
Labels: feature definition

#1325 Use BCD tags for anchor positioning
  features/anchor-positioning.yml
  features/anchor-positioning.yml.dist
Labels: feature definition

#1318 New async iterable streams feature
  features/async-iterable-streams.yml
  features/async-iterable-streams.yml.dist
  features/streams.yml
  groups/streams.yml
Labels: feature definition

#1326 New Contact Picker feature
  features/contact-picker.yml
  features/contact-picker.yml.dist
  features/font-synthesis.yml.dist
Labels: feature definition

#1334 Remove TODO for <time> fixed by BCD bump
  features/time.yml
Labels: feature definition

#1324 Update <slot> to include minor later additions
  features/slot.yml
  features/slot.yml.dist
Labels: feature definition

#1323 Remove redundant compat_features lists
  features/conic-gradients.yml
  features/conic-gradients.yml.dist
  features/font-palette-animation.yml
  features/font-size-adjust.yml
  features/font-size-adjust.yml.dist
  features/font-synthesis-position.yml
  features/font-synthesis-small-caps.yml
  features/font-synthesis-style.yml
  features/font-synthesis-weight.yml
  features/font-synthesis.yml
Labels: feature definition

#1322 Update contain-intrinsic-size to cover the `auto none` value
  features/contain-intrinsic-size.yml
  features/contain-intrinsic-size.yml.dist
Labels: feature definition

#1091 Add `Response.json()` static method to Fetch
  features/fetch.yml
  features/fetch.yml.dist
Labels: feature definition

#1312 `compute-baseline`: add method to expand a support statement into per-release support information
  packages/compute-baseline/src/browser-compat-data/release.test.ts
  packages/compute-baseline/src/browser-compat-data/release.ts
  packages/compute-baseline/src/browser-compat-data/supportStatements.test.ts
  packages/compute-baseline/src/browser-compat-data/supportStatements.ts
Labels: package:compute-baseline

#1327 Compute more statuses from BCD, using compute_from as needed
  features/array-copywithin.yml
  features/array-copywithin.yml.dist
  features/array-fill.yml
  features/array-fill.yml.dist
  features/array-find.yml
  features/array-find.yml.dist
  features/array-iterators.yml
  features/array-iterators.yml.dist
  features/array-of.yml
  features/array-of.yml.dist
  features/autofocus.yml
  features/autofocus.yml.dist
  features/datalist.yml
  features/datalist.yml.dist
  features/masks.yml
  features/masks.yml.dist
  features/promise-withresolvers.yml
  features/promise-withresolvers.yml.dist
  features/promise.yml
  features/promise.yml.dist
  features/shadow-dom.yml
  features/shadow-dom.yml.dist
  features/typed-array-iteration-methods.yml
  features/typed-array-iteration-methods.yml.dist
  features/typed-array-iterators.yml
  features/typed-array-iterators.yml.dist
  features/typed-arrays.yml
  features/typed-arrays.yml.dist
Labels: feature definition

#1340 Add the `:state()` CSS pseudo-class
  features/state.yml
  features/state.yml.dist
Labels: feature definition

#1349 Override async clipboard status awaiting fix in BCD
  features/async-clipboard.yml
  features/async-clipboard.yml.dist
Labels: feature definition

#1341 Move `<base>` out of drafts
  features/base.yml
  features/base.yml.dist
Labels: feature definition

#1351 Add a flexbox group
  features/flexbox-gap.yml
  features/flexbox.yml
  groups/flexbox.yml
Labels: feature definition

#1337 Add <audio> and <video> features
  features/audio.yml
  features/audio.yml.dist
  features/draft/html-elements/audio.yml.dist
  features/draft/html-elements/video.yml
  features/video.yml
  features/video.yml.dist
Labels: feature definition

#1360 Add gravity sensor feature
  features/gravity-sensor.yml
  features/gravity-sensor.yml.dist
Labels: feature definition

#1342 Add `indexeddb` draft
  features/draft/indexeddb.yml
  features/draft/indexeddb.yml.dist
Labels: feature definition

#1384 Adds <hgroup>
  features/hgroup.yml
  features/hgroup.yml.dist
Labels: feature definition

#1375 Add `<aside>` as a feature
  features/aside.yml
  features/aside.yml.dist
Labels: feature definition

#1362 Add <abbr> element
  features/abbr.yml
  features/abbr.yml.dist
Labels: feature definition

#1364 Add <br> element
  features/br.yml
  features/br.yml.dist
Labels: feature definition

#1377 Add `<code>` element
  features/code.yml
  features/code.yml.dist
Labels: feature definition

#1299 Update and publish referrer policy feature
  features/draft/referrer-policy.yml
  features/draft/referrer-policy.yml.dist
  features/referrer-policy.yml
  features/referrer-policy.yml.dist
Labels: feature definition

#1390 Introduce a scrolling group
  features/draft/scroll-marker.yml
  features/draft/spec/scroll-animations-1.yml
  features/scroll-driven-animations.yml
  features/scroll-into-view.yml
  features/scroll-snap.yml
  features/scroll-to-text-fragment.yml
  features/scrollbar-color.yml
  features/scrollbar-gutter.yml
  features/scrollbar-width.yml
  features/scrollend.yml
  groups/scrolling.yml
Labels: feature definition

#1300 Add Web Audio API
  features/web-audio.yml
  features/web-audio.yml.dist
  groups/web-audio.yml
Labels: feature definition

#1385 Add <hr>
  features/hr.yml
  features/hr.yml.dist
Labels: feature definition

#1354 Add `Intl.Segmenter` feature (and `Intl` group)
  features/intl-segmenter.yml
  features/intl-segmenter.yml.dist
  groups/intl.yml
Labels: feature definition

#1444 Adding xml-serializer as a feature
  features/xml-serializer.yml
  features/xml-serializer.yml.dist
Labels: feature definition

#1374 Add <sub> and <sup>
  features/sub-sup.yml
  features/sub-sup.yml.dist
Labels: feature definition

#1369 Adds table and related elements
  features/table.yml
  features/table.yml.dist
Labels: feature definition

#1420 Add `<mark>` element
  features/mark.yml
  features/mark.yml.dist
Labels: feature definition

#1386 Adding Keyboard interface feature
  features/draft/spec/keyboard-lock.yml
  features/keyboard-lock.yml
  features/keyboard-lock.yml.dist
  features/keyboard-map.yml
  features/keyboard-map.yml.dist
Labels: feature definition

#1373 Add <div> element
  features/div.yml
  features/div.yml.dist
Labels: feature definition

#1427 Add image maps - `<map>` and `<area>`
  features/image-maps.yml
  features/image-maps.yml.dist
Labels: feature definition

#1422 Add the `<main>` element
  features/main.yml
  features/main.yml.dist
Labels: feature definition

#1406 Adds `<a>` element
  features/a.yml
  features/a.yml.dist
Labels: feature definition

#1378 Add <title> element
  features/draft/html-elements/title.yml
  features/title.yml
  features/title.yml.dist
Labels: feature definition

#1392 New HTML elements and web components groups
  features/a.yml
  features/abbr.yml
  features/aside.yml
  features/audio.yml
  features/base.yml
  features/br.yml
  features/code.yml
  features/details.yml
  features/dialog.yml
  features/hgroup.yml
  features/search.yml
  features/shadow-dom.yml
  features/slot-assign.yml
  features/slot.yml
  features/state.yml
  features/template.yml
  features/time.yml
  features/title.yml
  features/video.yml
  groups/html-elements.yml
  groups/web-components.yml
Labels: feature definition

#1453 Add WebSockets API
  features/websockets.yml
  features/websockets.yml.dist
Labels: feature definition

#1365 Adds `<canvas>` HTML element
  features/canvas.yml
  features/canvas.yml.dist
Labels: feature definition

#1443 Add `<track>` element
  features/draft/html-elements/track.yml
  features/draft/html-elements/track.yml.dist
  features/text-tracks.yml
  features/text-tracks.yml.dist
Labels: feature definition

#1463 Heading elements
  features/draft/html-elements/h1.yml
  features/headings.yml
  features/headings.yml.dist
Labels: feature definition

#1464 Moving some html elements to the right group, and adding a feature to web-components
  features/declarative-shadow-dom.yml
  features/div.yml
  features/header-footer.yml
  features/hr.yml
  features/main.yml
  features/mark.yml
  features/sub-sup.yml
Labels: feature definition

#1412 Add `<span>` element
  features/span.yml
  features/span.yml.dist
Labels: feature definition

#1400 Uncomment keys and compute_from (features A-C)
  features/accelerometer.yml
  features/accelerometer.yml.dist
  features/async-clipboard.yml
  features/async-clipboard.yml.dist
  features/constructed-stylesheets.yml
  features/constructed-stylesheets.yml.dist
  features/counter-style.yml
  features/counter-style.yml.dist
Labels: feature definition

#1450 Remove alias from the schema and all features
  features/draft/text-box-trim.yml
  features/font-face.yml
  features/long-animation-frames.yaml
  features/promise.yml
  features/read-write-pseudos.yml
  features/scroll-into-view.yml
  features/viewport-unit-variants.yml
  features/viewport-units.yml
  schemas/defs.schema.json
  types.ts
Labels: feature definition

#1379 Add <samp>, <small>, and <var>
  features/draft/html-elements/samp.yml
  features/draft/html-elements/small.yml
  features/samp.yml
  features/samp.yml.dist
  features/small.yml
  features/small.yml.dist
  features/var.yml
  features/var.yml.dist
Labels: feature definition

#1467 Change newly-added HTML elements to the html-elements group
  features/details-name.yml
  features/figure.yml
  features/image-maps.yml
  features/samp.yml
  features/small.yml
  features/table.yml
  features/var.yml
Labels: feature definition

#1381 Add <cite>, <p>, <pre>, and <q>
  features/cite.yml
  features/cite.yml.dist
  features/draft/html-elements/cite.yml
  features/draft/html-elements/pre.yml
  features/p.yml
  features/p.yml.dist
  features/pre.yml
  features/pre.yml.dist
  features/q.yml
  features/q.yml.dist
Labels: feature definition

#1425 Add `<img>` element
  features/img.yml
  features/img.yml.dist
Labels: feature definition

#1426 Add `<iframe>` element
  features/draft/html-elements/iframe.yml
  features/draft/html-elements/iframe.yml.dist
  features/iframe.yml
  features/iframe.yml.dist
Labels: feature definition

#1414 Add `<section>` element
  features/draft/html-elements/section.yml
  features/section.yml
  features/section.yml.dist
Labels: feature definition

#1410 Add `<textarea>` element
  features/textarea.yml
  features/textarea.yml.dist
Labels: feature definition

#1438 Add `<object>` element
  features/object.yml
  features/object.yml.dist
Labels: feature definition

#1437 Add `<embed>` element
  features/embed.yml
  features/embed.yml.dist
Labels: feature definition

#1126 Add CSS containment features
  features/contain-inline-size.yml
  features/contain-inline-size.yml.dist
  features/contain-intrinsic-size.yml
  features/contain-layout.yml
  features/contain-layout.yml.dist
  features/contain-paint.yml
  features/contain-paint.yml.dist
  features/contain-size.yml
  features/contain-size.yml.dist
  features/contain-style.yml
  features/contain-style.yml.dist
  groups/containment.yml
Labels: feature definition

#1432 Add `<article>` element
  features/article.yml
  features/article.yml.dist
  features/draft/html-elements/article.yml
Labels: feature definition

#1434 Add the `<data>` element
  features/data.yml
  features/data.yml.dist
Labels: feature definition

#1370 Add <wbr> element
  features/draft/html-elements/wbr.yml
  features/wbr.yml
  features/wbr.yml.dist
Labels: feature definition

#1492 Retitle "input event" feature to "input (event)"
  features/input-event.yml
Labels: feature definition

#1442 Add `<output>` element
  features/output.yml
  features/output.yml.dist
Labels: feature definition

#1428 Add `<body>` element
  features/body.yml
  features/body.yml.dist
Labels: feature definition

#1429 Add `<html>` element
  features/html.yml
  features/html.yml.dist
Labels: feature definition

#1417 Add `<picture>` and `<source>` elements
  features/picture.yml
  features/picture.yml.dist
  features/source.yml
  features/source.yml.dist
Labels: feature definition

#1382 Add <head> and <meta> tags
  features/draft/html-elements/head.yml
  features/head.yml
  features/head.yml.dist
  features/meta.yml
  features/meta.yml.dist
Labels: feature definition

#1366 Add list elements including `<ol>`, `<ul>`, and `<li>`
  features/list-elements.yml
  features/list-elements.yml.dist
Labels: feature definition

#1509 Fix list element description (again)
  features/list-elements.yml
Labels: feature definition

#1416 Add `<progress>` element
  features/progress.yml
  features/progress.yml.dist
Labels: feature definition

#1504 Rename <iframe credentialless> feature
  features/iframe-credentialless.yml
Labels: feature definition

#1368 Add `<b>`, `<i>`, `<u>`, `<em>`, and `<strong>` elements
  features/b.yml
  features/b.yml.dist
  features/em.yml
  features/em.yml.dist
  features/i.yml
  features/i.yml.dist
  features/strong.yml
  features/strong.yml.dist
  features/u.yml
  features/u.yml.dist
Labels: feature definition

#1461 Add screen wake lock
  features/draft/spec/screen-wake-lock.yml
  features/screen-wake-lock.yml
  features/screen-wake-lock.yml.dist
Labels: feature definition

#1498 Include the font-size-adjust SVG attribute in the feature
  features/font-size-adjust.yml
  features/font-size-adjust.yml.dist
Labels: feature definition

#1436 Add `<dfn>` element
  features/dfn.yml
  features/dfn.yml.dist
Labels: feature definition

#1418 Add `<nav>` element
  features/draft/html-elements/nav.yml
  features/nav.yml
  features/nav.yml.dist
Labels: feature definition

#1447 Link to caniuse "HTML5 semantic elements" feature in comments
  features/article.yml
  features/aside.yml
  features/figure.yml
  features/header-footer.yml
  features/main.yml
  features/mark.yml
  features/nav.yml
  features/section.yml
  features/time.yml
Labels: feature definition

#1424 Add `<kbd>` element
  features/draft/html-elements/kbd.yml
  features/kbd.yml
  features/kbd.yml.dist
Labels: feature definition

#1431 Add `<blockquote>`
  features/blockquote.yml
  features/blockquote.yml.dist
Labels: feature definition

#1512 Remove Transferable group
  features/transferable-arraybuffer.yml
  groups/transferable.yml
Labels: feature definition

#1435 Add `<ins>` and `<del>` elements
  features/del.yml
  features/del.yml.dist
  features/draft/html-elements/del.yml
  features/ins.yml
  features/ins.yml.dist
Labels: feature definition

#1439 Add `<fieldset>` and `<legend>`
  features/fieldset.yml
  features/fieldset.yml.dist
Labels: feature definition

#1363 Moving background-sync from draft to features
  features/background-sync.yml
  features/background-sync.yml.dist
Labels: feature definition

#1403 Add description guidelines for default styles
  docs/README.md
  features/samp.yml
  features/small.yml
Labels: documentation, feature definition
