Repository web-platform-dx/web-features, pull requests merged in 2024-12, with the labels that each got.

#2374 Add a key to server-timing
  features/server-timing.yml
  features/server-timing.yml.dist
Labels: feature definition

#2375 Add keys to websockets
  features/websockets.yml
  features/websockets.yml.dist
Labels: feature definition

#2361 Add a Beacon feature
  features/beacons.yml
  features/beacons.yml.dist
  features/draft/spec/beacon.yml
Labels: feature definition

#2380 Rename `:not` to `:not()` for consistency
  features/not.yml
Labels: feature definition

#2379 Fix incorrect syntax in active-view-transition.yml
  features/active-view-transition.yml
Labels: feature definition

#2393 Add a key to WebXR DOM overlays
  features/webxr-dom-overlays.yml
  features/webxr-dom-overlays.yml.dist
Labels: feature definition

#2401 Fix missing backtick around tag name
  features/description-list.yml
Labels: feature definition

#2400 More forms keys
  features/form.yml
  features/form.yml.dist
Labels: feature definition

#2392 Add Spread feature
  features/spread.yml
  features/spread.yml.dist
Labels: feature definition

#2397 Add Reporting API
  features/reporting.yml
  features/reporting.yml.dist
Labels: feature definition

#2396 Add ResizeObserver
  features/resize-observer.yml
  features/resize-observer.yml.dist
Labels: feature definition

#2394 Add Content Index API
  features/content-index.yml
  features/content-index.yml.dist
Labels: feature definition

#2406 Add more fullscreen keys
  features/fullscreen.yml
  features/fullscreen.yml.dist
Labels: feature definition

#2412 Add more keys to javascript and number
  features/javascript.yml
  features/javascript.yml.dist
  features/number.yml
  features/number.yml.dist
Labels: feature definition

#2386 Add Destructuring feature
  features/destructuring.yml
  features/destructuring.yml.dist
Labels: feature definition

#2346 Move IndexedDB out of draft
  features/indexeddb.yml
  features/indexeddb.yml.dist
Labels: feature definition

#2403 Add more wasm features
  features/wasm-exception-handling.yml
  features/wasm-exnref-exceptions.yml
  features/wasm-exnref-exceptions.yml.dist
  features/wasm-memory64.yml
  features/wasm-memory64.yml.dist
  features/wasm-string-builtins.yml
  features/wasm-string-builtins.yml.dist
  features/wasm-typed-fun-refs.yml
  features/wasm-typed-fun-refs.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#2424 docs: fix some typos in publishing doc
  docs/publishing.md
Labels: documentation

#2407 Add more device motion keys and update desc
  features/device-orientation-events.yml
  features/device-orientation-events.yml.dist
Labels: feature definition

#2419 Add script to find features with ranged (≤) headline statuses
  scripts/find-ranged-headline-statuses.ts
Labels: tools and infrastructure

#2420 Add more keys to js-modules; use compute_from
  features/js-modules.yml
  features/js-modules.yml.dist
  features/svg.yml
  features/svg.yml.dist
Labels: feature definition

#2417 Add various JavaScript features
  features/exponentiation.yml
  features/exponentiation.yml.dist
  features/functions.yml
  features/functions.yml.dist
  features/globalthis.yml
  features/globalthis.yml.dist
  features/hashbang-comments.yml
  features/hashbang-comments.yml.dist
  features/let-const.yml
  features/let-const.yml.dist
  features/logical-assignments.yml
  features/logical-assignments.yml.dist
  features/nullish-coalescing.yml
  features/nullish-coalescing.yml.dist
  features/numeric-seperators.yml
  features/numeric-seperators.yml.dist
  features/optional-catch-binding.yml
  features/optional-catch-binding.yml.dist
  features/template-literals.yml
  features/template-literals.yml.dist
  features/top-level-await.yml
  features/top-level-await.yml.dist
  features/unicode-point-escapes.yml
  features/unicode-point-escapes.yml.dist
Labels: feature definition

#2299 Add a sensor interfaces to sensor features
  features/accelerometer.yml
  features/ambient-light.yml
  features/draft/spec/generic-sensor.yml
  features/draft/spec/generic-sensor.yml.dist
  features/gyroscope.yml
  features/orientation-sensor.yml
  features/orientation-sensor.yml.dist
Labels: feature definition

#2437 Update container query specs
  features/container-queries.yml
  features/container-style-queries.yml
  groups/container-queries.yml
Labels: feature definition

#2436 Update http3 for Safari support
  features/http3.yml
Labels: feature definition

#2443 Fix indexeddb name
  features/indexeddb.yml
Labels: feature definition

#2444 Unsilence validation errors
  features/error-cause.yml
  features/focus-events.yml
  features/focus-events.yml.dist
  features/uint8array-base64-hex.yml
  features/weak-references.yml
  package-lock.json
  package.json
  schemas/data.schema.json
  scripts/build.ts
  scripts/validate.ts
  types.ts
Labels: feature definition, tools and infrastructure

#2428 Auto-advance date of the `next` tag
  .github/workflows/publish_next_web-features.yml
Labels: tools and infrastructure

#1678 Add Notifications API
  features/draft/spec/notifications.yml
  features/draft/spec/notifications.yml.dist
  features/notifications-apps.yml
  features/notifications-apps.yml.dist
  features/notifications.yml
  features/notifications.yml.dist
Labels: feature definition

#2362 Add a feature for GPC
  features/draft/spec/gpc.yml
  features/gpc.yml
  features/gpc.yml.dist
Labels: feature definition

#2360 Add a Badging feature
  features/badging.yml
  features/badging.yml.dist
  features/draft/spec/badging.yml
Labels: feature definition

#2434 Add features for Gamepad API
  features/gamepad-haptics.yml
  features/gamepad-haptics.yml.dist
  features/gamepad-touch.yml
  features/gamepad-touch.yml.dist
  features/gamepad-vr.yml
  features/gamepad-vr.yml.dist
  features/gamepad.yml
  features/gamepad.yml.dist
  groups/gamepad.yml
Labels: feature definition

#1837 Add feature for DOM Geometry
  features/dom-geometry.yml
  features/dom-geometry.yml.dist
Labels: feature definition

#2458 Add iframe allow key to window-management
  features/window-management.yml
  features/window-management.yml.dist
Labels: feature definition

#2454 Update prerelease without creating needless notifications
  .github/workflows/publish_next_web-features.yml
Labels: tools and infrastructure

#2421 Revise `event` description to make it clear that it's generic
  features/events.yml
Labels: feature definition

#2457 Add missing webvtt keys
  features/webvtt-regions.yml
  features/webvtt-regions.yml.dist
Labels: feature definition

#2459 Update scroll to text fragment
  features/scroll-to-text-fragment.yml
  features/scroll-to-text-fragment.yml.dist
Labels: feature definition

#2423 Add global element attributes/properties
  features/accesskey.yml
  features/accesskey.yml.dist
  features/autocapitalize.yml
  features/autocapitalize.yml.dist
  features/autocorrect.yml
  features/autocorrect.yml.dist
  features/change-event.yml
  features/change-event.yml.dist
  features/contenteditable-plaintextonly.yml
  features/contenteditable-plaintextonly.yml.dist
  features/contenteditable.yml
  features/contenteditable.yml.dist
  features/csp.yml
  features/csp.yml.dist
  features/details.yml
  features/details.yml.dist
  features/dialog.yml
  features/dialog.yml.dist
  features/enterkeyhint.yml
  features/enterkeyhint.yml.dist
  features/focus-events.yml
  features/focus-events.yml.dist
  features/lang-attr.yml
  features/lang-attr.yml.dist
  features/mouse-events.yml
  features/mouse-events.yml.dist
  features/popover.yml
  features/popover.yml.dist
  features/spellcheck.yml
  features/spellcheck.yml.dist
  features/title-attr.yml
  features/title-attr.yml.dist
Labels: feature definition

#2470 Add missing keys to accelerometer and magnetometer
  features/accelerometer.yml
  features/accelerometer.yml.dist
  features/magnetometer.yml
  features/magnetometer.yml.dist
Labels: feature definition

#2469 Add secure context and iframe to Gamepad features
  features/gamepad-haptics.yml
  features/gamepad-haptics.yml.dist
  features/gamepad-vr.yml
  features/gamepad-vr.yml.dist
  features/gamepad.yml
  features/gamepad.yml.dist
Labels: feature definition

#2464 Add a fenced frame and a permissions key
  features/fencedframe.yml
  features/fencedframe.yml.dist
  features/permissions.yml
  features/permissions.yml.dist
Labels: feature definition

#2465 Add the Device Memory API
  features/device-memory.yml
  features/device-memory.yml.dist
Labels: feature definition

#2363 Add features and keys from CSSOM View Module spec
  features/attribution-reporting.yml
  features/attribution-reporting.yml.dist
  features/devicepixelratio.yml
  features/devicepixelratio.yml.dist
  features/document-caretpositionfrompoint.yml
  features/document-caretpositionfrompoint.yml.dist
  features/dom.yml
  features/dom.yml.dist
  features/img.yml
  features/img.yml.dist
  features/matchmedia.yml
  features/matchmedia.yml.dist
  features/screen.yml
  features/screen.yml.dist
  features/scroll-elements.yml
  features/scroll-elements.yml.dist
  features/selection-api.yml
  features/selection-api.yml.dist
  features/visual-viewport.yml
  features/visual-viewport.yml.dist
  features/window-management.yml
  features/window-management.yml.dist
  features/window.yml
  features/window.yml.dist
Labels: feature definition

#2418 Add Prefetch, Resource Hints and more Fetch keys
  features/draft/spec/prefetch.yml
  features/fetch.yml
  features/fetch.yml.dist
  features/link-rel-dns-prefetch.yml
  features/link-rel-dns-prefetch.yml.dist
  features/link-rel-expect.yml
  features/link-rel-expect.yml.dist
  features/link-rel-preconnect.yml
  features/link-rel-preconnect.yml.dist
  features/link-rel-prefetch.yml
  features/link-rel-prefetch.yml.dist
  features/link-rel-preload.yml
  features/link-rel-preload.yml.dist
  features/speculation-rules.yml
  features/speculation-rules.yml.dist
  features/xhr.yml
  features/xhr.yml.dist
Labels: feature definition

#2358 Add more streams keys/features
  features/streams.yml
  features/streams.yml.dist
Labels: feature definition

#2378 Add File API
  features/file.yml
  features/file.yml.dist
Labels: feature definition

#2405 Add more HTML spec keys
  features/beforeunload.yml
  features/beforeunload.yml.dist
  features/bfcache-blocking-reasons.yml
  features/bfcache-blocking-reasons.yml.dist
  features/canvas-2d.yml
  features/canvas-2d.yml.dist
  features/channel-messaging.yml
  features/channel-messaging.yml.dist
  features/dom.yml
  features/dom.yml.dist
  features/form.yml
  features/form.yml.dist
  features/gethtml.yml
  features/gethtml.yml.dist
  features/hidden-until-found.yml
  features/hidden-until-found.yml.dist
  features/history.yml
  features/history.yml.dist
  features/localstorage.yml
  features/localstorage.yml.dist
  features/offscreen-canvas.yml
  features/offscreen-canvas.yml.dist
  features/server-sent-events.yml
  features/server-sent-events.yml.dist
  features/view-transitions.yml
  features/view-transitions.yml.dist
Labels: feature definition

#2475 Add style attributes
  features/style-attr.yml
  features/style-attr.yml.dist
Labels: feature definition
