Repository web-platform-dx/web-features, pull requests merged in 2024-08, with the labels that each got.

#1367 add <ruby> element as feature
  features/ruby.yml
  features/ruby.yml.dist
Labels: feature definition

#1408 Add `<style>` element
  features/style.yml
  features/style.yml.dist
Labels: feature definition

#1353 Add features for `@import` and `@supports`
  features/import.yml
  features/import.yml.dist
  features/supports.yml
  features/supports.yml.dist
Labels: feature definition

#1514 Publish browser release data
  index.ts
  packages/compute-baseline/src/baseline/index.ts
  schemas/data.schema.json
  types.ts
Labels: minor version required

#1529 Updating draft spec features readme to include removing draft_date
  features/draft/spec/README.md
Labels: documentation

#1468 Add draft feature for <iframe sandbox>
  features/draft/iframe-sandbox.yml
  features/draft/iframe-sandbox.yml.dist
Labels: feature definition

#1526 Add the Presentation API
  features/presentation-api.yml
  features/presentation-api.yml.dist
Labels: feature definition

#1449 Add draft download and ping features
  features/draft/download.yml
  features/draft/download.yml.dist
  features/draft/ping.yml
  features/draft/ping.yml.dist
Labels: feature definition

#1448 Add srcset and sizes draft
  features/draft/srcset.yml
  features/draft/srcset.yml.dist
Labels: feature definition

#1413 Add `<select>`, `<optgroup>`, and `<option>` elements
  features/select.yml
  features/select.yml.dist
Labels: feature definition

#1423 Add `<link>` element
  features/link.yml
  features/link.yml.dist
Labels: feature definition

#1430 Add `<bdo>` and `<bdi>` elements
  features/bdi.yml
  features/bdi.yml.dist
  features/bdo.yml
  features/bdo.yml.dist
  features/draft/html-elements/bdi.yml
  features/draft/html-elements/bdo.yml
Labels: feature definition

#1564 CSS Trig Functions Name Tweak
  features/trig-functions.yml
Labels: feature definition

#1330 New contributor docs
  docs/CONTRIBUTING.md
  docs/README.md
  docs/baseline.md
  docs/guidelines.md
Labels: documentation

#1421 Add the `<menu>` element
  features/draft/html-elements/menu.yml
  features/menu.yml
  features/menu.yml.dist
Labels: feature definition

#1565 Add RegExp methods
  features/regexp.yml
  features/regexp.yml.dist
Labels: feature definition

#1586 Add Intl.ListFormat
  features/intl-list-format.yml
  features/intl-list-format.yml.dist
Labels: feature definition

#1581 Add Intl.DurationFormat
  features/intl-duration-format.yml
  features/intl-duration-format.yml.dist
Labels: feature definition

#1580 Add Intl.DisplayNames
  features/intl-display-names.yml
  features/intl-display-names.yml.dist
Labels: feature definition

#1588 Add Intl.Locale
  features/intl-locale-info.yml
  features/intl-locale-info.yml.dist
  features/intl-locale.yml
  features/intl-locale.yml.dist
Labels: feature definition

#1597 Add caret-color
  features/caret-color.yml
  features/caret-color.yml.dist
Labels: feature definition

#1598 Add resize
  features/resize.yml
  features/resize.yml.dist
Labels: feature definition

#1595 Add Z-index
  features/z-index.yml
  features/z-index.yml.dist
Labels: feature definition

#1567 Add Number
  features/number.yml
  features/number.yml.dist
Labels: feature definition

#1609 Disallow `compute_from` when it has no impact on the status
  scripts/dist.ts
Labels: feature definition

#1561 Adds JS Date object
  features/date.yml
  features/date.yml.dist
Labels: feature definition

#1605 Merge Growable SharedArrayBuffer + Resizable ArrayBuffer
  features/growable-sharedarraybuffer.yml
  features/resizable-arraybuffer.yml
  features/resizable-arraybuffer.yml.dist
  features/resizable-buffers.yml
  features/resizable-buffers.yml.dist
Labels: feature definition

#1606 Add Intl.PluralRules
  features/intl-plural-rules.yml
  features/intl-plural-rules.yml.dist
Labels: feature definition

#1500 Add Canvas2D context
  features/canvas-2d-alpha.yml
  features/canvas-2d-alpha.yml.dist
  features/canvas-2d-color-managment.yml
  features/canvas-2d-color-managment.yml.dist
  features/canvas-2d-desynchronized.yml
  features/canvas-2d-desynchronized.yml.dist
  features/canvas-2d-willreadfrequently.yml
  features/canvas-2d-willreadfrequently.yml.dist
  features/canvas-2d.yml
  features/canvas-2d.yml.dist
  features/canvas-text-baselines.yml
  features/canvas-text-baselines.yml.dist
  features/canvas-text.yml
  features/canvas-text.yml.dist
Labels: feature definition

#1583 Add WebGL1 Canvas Context
  features/draft/spec/webgl-color-buffer-float.yml
  features/draft/spec/webgl-color-buffer-float.yml.dist
  features/draft/spec/webgl-compressed-texture-astc.yml
  features/draft/spec/webgl-compressed-texture-astc.yml.dist
  features/draft/spec/webgl-compressed-texture-etc.yml
  features/draft/spec/webgl-compressed-texture-etc.yml.dist
  features/draft/spec/webgl-compressed-texture-etc1.yml
  features/draft/spec/webgl-compressed-texture-etc1.yml.dist
  features/draft/spec/webgl-compressed-texture-s3tc-srgb.yml
  features/draft/spec/webgl-compressed-texture-s3tc-srgb.yml.dist
  features/draft/spec/webgl-compressed-texture-s3tc.yml
  features/draft/spec/webgl-compressed-texture-s3tc.yml.dist
  features/draft/spec/webgl-debug-renderer-info.yml
  features/draft/spec/webgl-debug-renderer-info.yml.dist
  features/draft/spec/webgl-debug-shaders.yml
  features/draft/spec/webgl-debug-shaders.yml.dist
  features/draft/spec/webgl-depth-texture.yml
  features/draft/spec/webgl-depth-texture.yml.dist
  features/draft/spec/webgl-draw-buffers.yml
  features/draft/spec/webgl-draw-buffers.yml.dist
  features/draft/spec/webgl-lose-context.yml
  features/draft/spec/webgl-lose-context.yml.dist
  features/draft/spec/webgl-multi-draw.yml
  features/draft/spec/webgl-multi-draw.yml.dist
  features/webgl-color-management.yml
  features/webgl-color-management.yml.dist
  features/webgl-desynchronized.yml
  features/webgl-desynchronized.yml.dist
  features/webgl.yml
  features/webgl.yml.dist
Labels: feature definition

#1589 Add `<s>` element
  features/draft/html-elements/s.yml
  features/s.yml
  features/s.yml.dist
Labels: feature definition

#1563 Add WeakMap and WeakSet
  features/weakmap.yml
  features/weakmap.yml.dist
  features/weakset.yml
  features/weakset.yml.dist
Labels: feature definition

#1623 Add AggregateError to promise-any feature
  features/promise-any.yml
  features/promise-any.yml.dist
Labels: feature definition

#1607 Contributing docs: add hints on lumping and splitting
  docs/CONTRIBUTING.md
Labels: documentation

#1608 Contributing docs: add some first-time contributing hints
  docs/CONTRIBUTING.md
Labels: documentation

#1632 Add font-palette keywords
  features/font-palette.yml
  features/font-palette.yml.dist
Labels: feature definition

#1591 Add `<label>` element
  features/label.yml
  features/label.yml.dist
Labels: feature definition

#1645 Fix typo in doc
  docs/CONTRIBUTING.md
Labels: documentation

#1630 Add keywords to font optical sizing
  features/font-optical-sizing.yml
  features/font-optical-sizing.yml.dist
Labels: feature definition

#1601 Add Intl
  features/intl.yml
  features/intl.yml.dist
  groups/intl.yml
Labels: feature definition

#1627 Add Shared memory
  features/atomics-wait-async.yml
  features/atomics-wait-async.yml.dist
  features/shared-memory.yml
  features/shared-memory.yml.dist
Labels: feature definition

#1646 Contributing docs: make fields' text formats explicit
  docs/CONTRIBUTING.md
  docs/guidelines.md
Labels: documentation

#1577 Add Web Crypto API
  features/draft/spec/webcrypto-secure-curves.yml
  features/draft/spec/webcrypto-secure-curves.yml.dist
  features/web-cryptography.yml
  features/web-cryptography.yml.dist
Labels: feature definition

#1458 JS Self-Profiling API
  features/profiler.yml
  features/profiler.yml.dist
Labels: feature definition

#1647 Prepare web-features v1.2.0 release
  packages/web-features/README.md
  packages/web-features/index.ts
  packages/web-features/package-lock.json
  packages/web-features/package.json
Labels: documentation

#1621 Add Font variant group and members
  features/font-feature-settings.yml
  features/font-feature-settings.yml.dist
  features/font-kerning.yml
  features/font-kerning.yml.dist
  features/font-language-override.yml
  features/font-language-override.yml.dist
  features/font-variant-alternates.yml
  features/font-variant-alternates.yml.dist
  features/font-variant-caps.yml
  features/font-variant-caps.yml.dist
  features/font-variant-east-asian.yml
  features/font-variant-east-asian.yml.dist
  features/font-variant-emoji.yml
  features/font-variant-emoji.yml.dist
  features/font-variant-ligatures.yml
  features/font-variant-ligatures.yml.dist
  features/font-variant-numeric.yml
  features/font-variant-numeric.yml.dist
  features/font-variant-position.yml
  features/font-variant-position.yml.dist
  features/font-variant.yml
  features/font-variant.yml.dist
  features/font-variation-settings.yml
  features/font-variation-settings.yml.dist
  groups/font-features.yml
Labels: feature definition

#1643 Add initial letter
  features/initial-letter.yml
  features/initial-letter.yml.dist
Labels: feature definition

#1619 Add Color types
  features/color-function.yml
  features/currentcolor.yml
  features/currentcolor.yml.dist
  features/hsl.yml
  features/hsl.yml.dist
  features/hwb.yml
  features/hwb.yml.dist
  features/lab.yml
  features/named-color.yml
  features/named-color.yml.dist
  features/oklab.yml
  features/rgb.yml
  features/rgb.yml.dist
  features/system-color.yml
  features/system-color.yml.dist
  groups/color-types.yml
Labels: feature definition

#1592 Add WebDriver
  features/draft/webdriver-sensors.yml
  features/draft/webdriver-sensors.yml.dist
  features/webdriver-bidi.yml
  features/webdriver.yml
  features/webdriver.yml.dist
  groups/webdriver.yml
Labels: feature definition

#1566 Add String methods
  features/string-at.yml
  features/string-at.yml.dist
  features/string-codepoint.yml
  features/string-codepoint.yml.dist
  features/string-includes.yml
  features/string-includes.yml.dist
  features/string-matchall.yml
  features/string-matchall.yml.dist
  features/string-normalize.yml
  features/string-normalize.yml.dist
  features/string-pad.yml
  features/string-pad.yml.dist
  features/string-raw.yml
  features/string-raw.yml.dist
  features/string-repeat.yml
  features/string-repeat.yml.dist
  features/string-replaceall.yml
  features/string-replaceall.yml.dist
  features/string-startsends-with.yml
  features/string-startsends-with.yml.dist
  features/string-trim-startend.yml
  features/string-trim-startend.yml.dist
  features/string-wellformed.yml
  features/string-wellformed.yml.dist
  features/strings.yml
  features/strings.yml.dist
  groups/string.yml
Labels: feature definition

#1687 Invert .prettierignore (use opt-out, not opt-in)
  .prettierignore
Labels: tools and infrastructure

#1535 Replace "defines" with "sets"
  features/color-function.yml
  features/counter-style.yml
  features/datalist.yml
  features/starting-style.yml
  features/tabindex.yml
Labels: feature definition

#868 Add credential management features
  features/credential-management.yml
  features/credential-management.yml.dist
  features/fedcm.yml
  features/fedcm.yml.dist
  features/federated-credentials.yml
  features/federated-credentials.yml.dist
  features/password-credentials.yml
  features/password-credentials.yml.dist
  features/web-otp.yml
  features/web-otp.yml.dist
  features/webauthn.yml
  features/webauthn.yml.dist
  groups/credential-management.yml
Labels: feature definition

#1469 Add `<iframe srcdoc>` feature
  features/iframe-srcdoc.yml
  features/iframe-srcdoc.yml.dist
Labels: feature definition
