Repository web-platform-dx/web-features, pull requests merged in 2024-11, with the labels that each got.

#1966 Adds display: contents
  features/display-contents.yml
  features/display-contents.yml.dist
Labels: feature definition

#2007 Add DOM - core, events, ranges, tree walker etc
  features/dom.yml
  features/dom.yml.dist
  features/events.yml
  features/events.yml.dist
  features/mutationobserver.yml
  features/mutationobserver.yml.dist
  features/selection-api.yml
  features/selection-api.yml.dist
Labels: feature definition

#2145 Add new NestedDeclaration keys
  features/nesting.yml
  features/nesting.yml.dist
Labels: feature definition

#2134 Add position keys to backdrop and flexbox
  features/backdrop.yml
  features/backdrop.yml.dist
  features/flexbox.yml
  features/flexbox.yml.dist
Labels: feature definition

#2135 Add rhythmic sizing
  features/rhythmic-sizing.yml
  features/rhythmic-sizing.yml.dist
Labels: feature definition

#2130 Add ::details-content feature
  features/details-content.yml
  features/details-content.yml.dist
Labels: feature definition

#2129 Add CSS.supports() and missing CSSOM keys
  features/css-object-model.yml
  features/css-object-model.yml.dist
  features/css-supports.yml
  features/css-supports.yml.dist
Labels: feature definition

#1970 Add WebAssembly features, take 2
  features/draft/spec/wasm-core-2-fork-gc.yml
  features/draft/spec/wasm-js-api-2-fork-exception-handling.yml
  features/draft/spec/wasm-js-api-2-fork-threads.yml
  features/draft/spec/wasm-js-api-2-fork-threads.yml.dist
  features/draft/spec/wasm-web-api-2.yml
  features/draft/spec/wasm-web-api-2.yml.dist
  features/wasm-bigint.yml
  features/wasm-bigint.yml.dist
  features/wasm-bulk-memory.yml
  features/wasm-bulk-memory.yml.dist
  features/wasm-exception-handling.yml
  features/wasm-exception-handling.yml.dist
  features/wasm-extended-constant-expressions.yml
  features/wasm-extended-constant-expressions.yml.dist
  features/wasm-garbage-collection.yml
  features/wasm-garbage-collection.yml.dist
  features/wasm-multi-memory.yml
  features/wasm-multi-memory.yml.dist
  features/wasm-multi-value.yml
  features/wasm-multi-value.yml.dist
  features/wasm-mutable-globals.yml
  features/wasm-mutable-globals.yml.dist
  features/wasm-non-trapping-float-to-int.yml
  features/wasm-non-trapping-float-to-int.yml.dist
  features/wasm-reference-types.yml
  features/wasm-reference-types.yml.dist
  features/wasm-sign-extension-operators.yml
  features/wasm-sign-extension-operators.yml.dist
  features/wasm-simd-relaxed.yml
  features/wasm-simd-relaxed.yml.dist
  features/wasm-simd.yml
  features/wasm-tail-call-optimization.yml
  features/wasm-tail-call-optimization.yml.dist
  features/wasm-threads.yml
  features/wasm-threads.yml.dist
  features/wasm.yml
  features/wasm.yml.dist
  groups/webassembly.yml
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#2147 Add anchor-scope keys to anchor positioning
  features/anchor-positioning.yml
  features/anchor-positioning.yml.dist
Labels: feature definition

#2148 Adds calc-size feature
  features/calc-size.yml
  features/calc-size.yml.dist
  features/calc.yml
  features/calc.yml.dist
Labels: feature definition

#2163 Add more keys to shared storage
  features/shared-storage.yml
  features/shared-storage.yml.dist
Labels: feature definition

#2158 Add more keys to several features
  features/geolocation.yml
  features/geolocation.yml.dist
  features/payment-handler.yml
  features/payment-handler.yml.dist
  features/payment-request.yml
  features/payment-request.yml.dist
  features/picture-in-picture.yml
  features/picture-in-picture.yml.dist
  features/storage-access.yml
  features/storage-access.yml.dist
  features/web-midi.yml
  features/web-midi.yml.dist
  features/web-otp.yml
  features/web-otp.yml.dist
  features/webauthn.yml
  features/webauthn.yml.dist
  features/webhid.yml
  features/webhid.yml.dist
Labels: feature definition

#2149 Adds CSS abstract types to existing property features
  features/animations-css.yml
  features/animations-css.yml.dist
  features/content.yml
  features/content.yml.dist
  features/font-face.yml
  features/font-face.yml.dist
  features/opacity.yml
  features/opacity.yml.dist
  features/transforms2d.yml
  features/transforms2d.yml.dist
  features/width-height.yml
  features/width-height.yml.dist
  features/z-index.yml
  features/z-index.yml.dist
Labels: feature definition

#2157 Add a key to WebUSB
  features/webusb.yml
  features/webusb.yml.dist
Labels: feature definition

#2156 Add a key to WebXR
  features/webxr-device.yml
  features/webxr-device.yml.dist
Labels: feature definition

#2081 Add text-orientation and text-combine-upright
  features/text-combine-upright.yml
  features/text-combine-upright.yml.dist
  features/text-orientation.yml
  features/text-orientation.yml.dist
Labels: feature definition

#2152 Add touch-action
  features/touch-action.yml
  features/touch-action.yml.dist
Labels: feature definition

#2166 Add more keys to SAB in WebGL
  features/webgl-sab.yml
  features/webgl-sab.yml.dist
Labels: feature definition

#2107 Updates transition features with additional keys
  features/transition-behavior.yml
  features/transition-behavior.yml.dist
  features/transitions.yml
  features/transitions.yml.dist
Labels: feature definition

#1847 Add feature for CSS Typed OM
  features/css-typed-om.yml
  features/css-typed-om.yml.dist
Labels: feature definition

#2155 Add Uint8Array to/from base64 and hex
  features/uint8array-base64-hex.yml
  features/uint8array-base64-hex.yml.dist
Labels: feature definition

#2160 Add virtual keyboard
  features/virtual-keyboard.yml
  features/virtual-keyboard.yml.dist
Labels: feature definition

#2159 Add Web Share
  features/share.yml
  features/share.yml.dist
Labels: feature definition

#2161 Add Web Serial
  features/serial.yml
  features/serial.yml.dist
Labels: feature definition

#2150 Add compat prefixed keys to recommended alternate features
  features/resolution-compat.yml
  features/resolution-compat.yml.dist
  features/resolution.yml
  features/supports-compat.yml
  features/supports-compat.yml.dist
Labels: feature definition

#2177 Add a key to Web Animations
  features/web-animations.yml
  features/web-animations.yml.dist
Labels: feature definition

#2167 Add text-box feature
  features/draft/text-box-trim.yml
  features/draft/text-box-trim.yml.dist
  features/text-box.yml
  features/text-box.yml.dist
Labels: feature definition

#2175 Add more keys to WebAuthn
  features/webauthn.yml
  features/webauthn.yml.dist
Labels: feature definition

#2176 Add DOMException to DOM
  features/dom.yml
  features/dom.yml.dist
Labels: feature definition

#2181 Add Save-Data
  features/draft/spec/savedata.yml
  features/savedata.yml
  features/savedata.yml.dist
Labels: feature definition

#2191 Add a semi-automated release workflow
  .github/workflows/prepare_release.yml
  scripts/release-pull-description.md
  scripts/release.ts
Labels: documentation, tools and infrastructure

#2195 Don't automatically @ mention every contributor on the release PR
  scripts/release.ts
Labels: tools and infrastructure

#2196 Publishing docs: update steps for new release workflow
  docs/publishing.md
Labels: documentation

#2186 Add more keys to flexbox
  features/flexbox.yml
  features/flexbox.yml.dist
Labels: feature definition

#2190 Adds keys to page setup
  features/page-setup.yml
  features/page-setup.yml.dist
Labels: feature definition

#2126 Add a script to calculate some simple stats about web-features
  scripts/stats.ts
Labels: tools and infrastructure

#2178 Add more keys to ARIA attribute reflection
  features/aria-attribute-reflection.yml
  features/aria-attribute-reflection.yml.dist
Labels: feature definition

#2192 Adds stretch feature
  features/fit-content.yml
  features/stretch.yml
  features/stretch.yml.dist
Labels: feature definition

#2188 Add missing keys from css-align
  features/absolute-positioning.yml
  features/absolute-positioning.yml.dist
  features/grid.yml
  features/grid.yml.dist
  features/multi-column.yml
  features/multi-column.yml.dist
Labels: feature definition

#2187 Add more keys to HTTP/1.1
  features/http11.yml
  features/http11.yml.dist
Labels: feature definition

#2183 Add RegExp.escape
  features/draft/spec/tc39-regex-escaping.yml
  features/regexp-escape.yml
  features/regexp-escape.yml.dist
Labels: feature definition

#2182 Add Vibration
  features/draft/spec/vibration.yml
  features/vibration.yml
  features/vibration.yml.dist
Labels: feature definition

#2189 Add align-content in block layout
  features/align-content-block.yml
  features/align-content-block.yml.dist
Labels: feature definition

#2204 Add missing media query key
  features/media-queries.yml
  features/media-queries.yml.dist
Labels: feature definition

#2151 Adds additional font related keys
  features/colrv0.yml
  features/colrv0.yml.dist
  features/colrv1.yml
  features/font-face.yml
  features/font-face.yml.dist
  features/font-shorthand.yml
  features/font-shorthand.yml.dist
  features/font-stretch.yml
  features/font-stretch.yml.dist
  features/font-synthesis.yml
  features/font-synthesis.yml.dist
  features/font-variant.yml
  features/font-variant.yml.dist
Labels: feature definition

#2197 Adds CSS filter effects
  features/filter.yml
  features/filter.yml.dist
  features/svg-filters.yml
  features/svg-filters.yml.dist
Labels: feature definition

#2180 Add speculation rules
  features/draft/spec/prerendering-revamped.yml
  features/draft/spec/prerendering-revamped.yml.dist
  features/speculation-rules.yml
  features/speculation-rules.yml.dist
Labels: feature definition

#2185 Add screen capture
  features/screen-capture.yml
  features/screen-capture.yml.dist
Labels: feature definition

#2215 Add missing flexbox, font-face and text-emphasis keys
  features/flexbox.yml
  features/flexbox.yml.dist
  features/font-face.yml
  features/font-face.yml.dist
  features/text-emphasis.yml
  features/text-emphasis.yml.dist
Labels: feature definition

#2213 Advance review date on the Baseline definition
  docs/baseline.md
Labels: documentation

#2218 `update-drafts`: Remove specs with only deprecated keys as complete
  features/draft/spec/rfc9163.yml
  features/draft/spec/rfc9163.yml.dist
  scripts/update-drafts.ts
Labels: tools and infrastructure

#2222 Report unmapped non-deprecated, standard keys
  scripts/stats.ts
Labels: tools and infrastructure

#2184 Add Sourcemap header
  features/draft/spec/sourcemap.yml
  features/sourcemap-header.yml
  features/sourcemap-header.yml.dist
Labels: feature definition

#2179 Add user agent client hints
  features/ua-client-hints.yml
  features/ua-client-hints.yml.dist
Labels: feature definition

#2225 `update-drafts`: clean up completed specs
  features/draft/spec/css-grid-2.yml
  features/draft/spec/css-grid-2.yml.dist
  scripts/update-drafts.ts
Labels: tools and infrastructure

#2226 Uncomment keys excluded for non-real values, now fixed
  features/meta.yml
  features/meta.yml.dist
  features/table.yml
  features/table.yml.dist
  features/text-tracks.yml
Labels: feature definition

#2227 `ink`: drop deprecated key
  features/ink.yml
  features/ink.yml.dist
Labels: feature definition

#2210 Error on deprecated compat keys
  scripts/dist.ts
Labels: tools and infrastructure

#2012 Add page visibility, transition and lifecycle features
  features/dom.yml
  features/dom.yml.dist
  features/page-lifecycle.yml
  features/page-lifecycle.yml.dist
  features/page-transition-events.yml
  features/page-transition-events.yml.dist
  features/page-visibility.yml
  features/page-visibility.yml.dist
  features/view-transitions.yml
  features/view-transitions.yml.dist
Labels: feature definition

#2171 Selectors- Add baseline high
  features/focus-within.yml
  features/focus-within.yml.dist
  features/form-validity-pseudos.yml
  features/form-validity-pseudos.yml.dist
  features/link-selectors.yml
  features/link-selectors.yml.dist
  features/scope-pseudo.yml
  features/scope-pseudo.yml.dist
Labels: feature definition

#2229 Add initial CSS pseudoclasses
  features/empty.yml
  features/empty.yml.dist
  features/input-selectors.yml
  features/input-selectors.yml.dist
  features/lang.yml
  features/lang.yml.dist
  features/not.yml
  features/not.yml.dist
  features/root.yml
  features/root.yml.dist
  features/target.yml
  features/target.yml.dist
  features/user-action-pseudos.yml
  features/user-action-pseudos.yml.dist
Labels: feature definition

#2044 Input (continued)
  features/input-button.yml
  features/input-button.yml.dist
  features/input-checkbox.yml
  features/input-checkbox.yml.dist
  features/input-color.yml
  features/input-color.yml.dist
  features/input-date-time.yml
  features/input-date-time.yml.dist
  features/input-email-tel-url.yml
  features/input-email-tel-url.yml.dist
  features/input-file.yml
  features/input-file.yml.dist
  features/input-hidden.yml
  features/input-hidden.yml.dist
  features/input-image.yml
  features/input-image.yml.dist
  features/input-number.yml
  features/input-number.yml.dist
  features/input-password.yml
  features/input-password.yml.dist
  features/input-radio.yml
  features/input-radio.yml.dist
  features/input-range.yml
  features/input-range.yml.dist
  features/input-reset.yml
  features/input-reset.yml.dist
  features/input-submit.yml
  features/input-submit.yml.dist
  features/input.yml
  features/input.yml.dist
Labels: feature definition

#2264 Add a key to functions feature
  features/functions.yml
  features/functions.yml.dist
Labels: feature definition

#2260 Add a key to Map
  features/map.yml
  features/map.yml.dist
Labels: feature definition

#2265 Add missing code formatting to navigator description
  features/navigator.yml
Labels: feature definition

#2266 Add a key to set feature
  features/set.yml
  features/set.yml.dist
Labels: feature definition

#2174 Add Upgrade insecure requests
  features/csp.yml
  features/csp.yml.dist
  features/draft/spec/upgrade-insecure-requests.yml
  features/draft/spec/upgrade-insecure-requests.yml.dist
  features/upgrade-insecure-requests.yml
  features/upgrade-insecure-requests.yml.dist
Labels: feature definition

#2259 Add more keys to Promise
  features/promise.yml
  features/promise.yml.dist
Labels: feature definition

#2267 Add more keys to classes feature
  features/class-syntax.yml
  features/class-syntax.yml.dist
Labels: feature definition

#2262 Add a key to weak references
  features/weak-references.yml
  features/weak-references.yml.dist
Labels: feature definition

#2261 Add a key to SharedArrayBuffer and Atomics
  features/shared-memory.yml
  features/shared-memory.yml.dist
Labels: feature definition

#2010 Add Window and Window Management API
  features/backdrop.yml
  features/backdrop.yml.dist
  features/dialog.yml
  features/dialog.yml.dist
  features/dom.yml
  features/dom.yml.dist
  features/history.yml
  features/history.yml.dist
  features/window-management.yml
  features/window-management.yml.dist
  features/window.yml
  features/window.yml.dist
Labels: feature definition

#2234 Add a data urls feature
  features/data-urls.yml
  features/data-urls.yml.dist
Labels: feature definition

#2239 Add HSTS
  features/draft/spec/rfc6797.yml
  features/hsts.yml
  features/hsts.yml.dist
Labels: feature definition

#2270 Remove discouraged `FontFaceSet()` from `font-loading`
  features/font-loading.yml
  features/font-loading.yml.dist
Labels: feature definition

#2241 Add zstd compression
  features/draft/spec/rfc8878.yml
  features/zstd.yml
  features/zstd.yml.dist
Labels: feature definition

#2169 Selectors- add baseline false features
  features/case-insensitive-attributes.yml
  features/case-insensitive-attributes.yml.dist
  features/case-sensitive-attributes.yml
  features/case-sensitive-attributes.yml.dist
  features/open-closed.yml
  features/open-closed.yml.dist
  features/target-within.yml
  features/target-within.yml.dist
  features/time-relative-selectors.yml
  features/time-relative-selectors.yml.dist
Labels: feature definition

#2243 Add Local fonts
  features/local-fonts.yml
  features/local-fonts.yml.dist
Labels: feature definition

#2235 Add Mixed content
  features/mixed-content.yml
  features/mixed-content.yml.dist
Labels: feature definition

#2263 Add error-cause feature
  features/error-cause.yml
  features/error-cause.yml.dist
Labels: feature definition

#2240 Add brotli
  features/brotli.yml
  features/brotli.yml.dist
  features/draft/spec/rfc7932.yml
Labels: feature definition

#2253 Adds keys to SVG feature
  features/draft/spec/svg2.yml
  features/draft/spec/svg2.yml.dist
  features/svg.yml
  features/svg.yml.dist
Labels: feature definition

#2084 Add a Clearing site data feature
  features/clear-site-data.yml
  features/clear-site-data.yml.dist
Labels: feature definition

#2278 Add key to `selection-api`
  features/selection-api.yml
  features/selection-api.yml.dist
Labels: feature definition

#2281 Adds keys to font-variant-emoji
  features/font-variant-emoji.yml
  features/font-variant-emoji.yml.dist
Labels: feature definition

#2287 Move `toggle` event from `popover` to `details`
  features/details.yml
  features/details.yml.dist
  features/popover.yml
  features/popover.yml.dist
Labels: feature definition

#2273 Add alerts, new window keys
  features/alerts.yml
  features/alerts.yml.dist
  features/window-management.yml
  features/window-management.yml.dist
  features/window.yml
  features/window.yml.dist
Labels: feature definition

#2236 Add Cookies
  features/cookies.yml
  features/cookies.yml.dist
Labels: feature definition

#2274 Add requestIdleCallback feature
  features/draft/spec/requestidlecallback.yml
  features/requestidlecallback.yml
  features/requestidlecallback.yml.dist
Labels: feature definition

#2275 Add more push API keys
  features/draft/spec/push-api.yml
  features/draft/spec/push-api.yml.dist
  features/push.yml
  features/push.yml.dist
Labels: feature definition

#2289 Fix current typos
  docs/publishing.md
  features/font-variant-position.yml
  features/hyphens.yml
  gh-pages/src/name-and-logo-usage-guidelines.md
Labels: documentation, feature definition

#2280 Use BCD tags for webgpu features
  features/webgpu.yml
  features/webgpu.yml.dist
Labels: feature definition

#2277 Add touch events, more DOM keys
  features/aborting.yml
  features/aborting.yml.dist
  features/dom.yml
  features/dom.yml.dist
  features/events.yml
  features/events.yml.dist
  features/touch-events.yml
  features/touch-events.yml.dist
  features/xpath.yml
  features/xpath.yml.dist
Labels: feature definition

#2282 Adds place shorthand keys to flexbox
  features/flexbox.yml
  features/flexbox.yml.dist
Labels: feature definition

#2279 Add mixed type parameters to lab/lch, oklab/oklch
  features/lab.yml
  features/lab.yml.dist
  features/oklab.yml
  features/oklab.yml.dist
Labels: feature definition

#2290 fix grammar conflict in web-features.md
  gh-pages/src/web-features.md
Labels: documentation

#2296 Add more DOMParser keys
  features/domparser.yml
  features/domparser.yml.dist
Labels: feature definition

#2295 Add more canvas keys
  features/canvas-2d.yml
  features/canvas-2d.yml.dist
Labels: feature definition

#2247 Revise `<input>` type descriptions
  features/button.yml
  features/input-button.yml
  features/input-checkbox.yml
  features/input-color.yml
  features/input-date-time.yml
  features/input-file.yml
  features/input-hidden.yml
  features/input-image.yml
  features/input-number.yml
  features/input-password.yml
  features/input-radio.yml
  features/input-range.yml
  features/input-reset.yml
  features/input-submit.yml
  features/input.yml
  features/search-input-type.yml
Labels: feature definition

#2078 New web app manifest features
  features/app-file-handlers.yml
  features/app-file-handlers.yml.dist
  features/app-protocol-handlers.yml
  features/app-protocol-handlers.yml.dist
  features/app-share-targets.yml
  features/app-share-targets.yml.dist
  features/app-shortcuts.yml
  features/app-shortcuts.yml.dist
  features/manifest.yml
  features/manifest.yml.dist
Labels: feature definition

#2170 Selectors- CSS Selectors initial support
  features/selectors.yml
  features/selectors.yml.dist
Labels: feature definition

#2082 Add direction to vertical form controls
  features/vertical-form-controls.yml
  features/vertical-form-controls.yml.dist
Labels: feature definition

#2297 Add more custom element keys
  features/autonomous-custom-elements.yml
  features/autonomous-custom-elements.yml.dist
Labels: feature definition

#2303 Add keys to bluetooth feature
  features/web-bluetooth.yml
  features/web-bluetooth.yml.dist
Labels: feature definition

#2307 Removes `no-preference` keyword value from `prefers-color-scheme`
  features/prefers-color-scheme.yml
  features/prefers-color-scheme.yml.dist
Labels: feature definition

#2306 Removes `api.SVGAnimateColorElement` from `smil-svg-animations`
  features/smil-svg-animations.yml
  features/smil-svg-animations.yml.dist
Labels: feature definition

#2305 Removes discouraged payment related keys
  features/payment-handler.yml
  features/payment-handler.yml.dist
  features/payment-request.yml
  features/payment-request.yml.dist
Labels: feature definition

#2228 Check every key (regardless of compute_from) for discouraged condition
  scripts/dist.ts
Labels: tools and infrastructure

#2142 Baseline defintion: flag undefined status situations
  docs/baseline.md
Labels: documentation, baseline definition

#2312 Add root types where they were first used
  features/gradients.yml
  features/gradients.yml.dist
  features/inherit-value.yml
  features/inherit-value.yml.dist
Labels: feature definition

#2308 Adds pointer-events feature
  features/pointer-events.yml
  features/pointer-events.yml.dist
Labels: feature definition

#2330 Adds text stroke and fill compat feature
  features/text-stroke-fill.yml
  features/text-stroke-fill.yml.dist
Labels: feature definition

#2245 Add Ambient light sensor
  features/ambient-light.yml
  features/ambient-light.yml.dist
  features/draft/spec/ambient-light.yml
Labels: feature definition

#1818 Add VTTCue settings feature
  features/webvtt-cue-settings.yml
  features/webvtt-cue-settings.yml.dist
Labels: feature definition

#2328 Add :has-slotted feature
  features/has-slotted.yml
  features/has-slotted.yml.dist
  features/slot.yml
  features/slot.yml.dist
Labels: feature definition

#2329 Clean up fullscreen todo comments
  features/fullscreen.yml
  features/fullscreen.yml.dist
Labels: feature definition

#2323 Add a feature for attribution reporting
  features/attribution-reporting.yml
  features/attribution-reporting.yml.dist
  features/fetch.yml
  features/fetch.yml.dist
Labels: feature definition

#2332 Adds missing keys to svg feature
  features/svg.yml
  features/svg.yml.dist
Labels: feature definition

#2331 Add Winging It Live to Baseline in the wild
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation

#2348 Move sandboxed iframes out of draft
  features/iframe-sandbox.yml
  features/iframe-sandbox.yml.dist
Labels: feature definition

#2342 Adds description list
  features/description-list.yml
  features/description-list.yml.dist
Labels: feature definition

#2313 Add color feature
  features/color.yml
  features/color.yml.dist
Labels: feature definition

#2350 Add more WebTransport keys and update feature
  features/webtransport.yml
  features/webtransport.yml.dist
Labels: feature definition

#2311 Update relative-color feature keys
  features/relative-color.yml
  features/relative-color.yml.dist
Labels: feature definition

#2347 Move download and ping out of draft
  features/download.yml
  features/download.yml.dist
  features/ping.yml
  features/ping.yml.dist
  features/svg.yml
  features/svg.yml.dist
Labels: feature definition

#2357 Add ServiceWorker
  features/service-workers.yml
  features/service-workers.yml.dist
Labels: feature definition

#2359 Add a feature for Digital goods
  features/digital-goods.yml
  features/digital-goods.yml.dist
  features/draft/spec/digital-goods.yml
Labels: feature definition

#2314 Skip GitHub Pages deployment, if GitHub Pages isn't turned on
  .github/workflows/gh-pages-build-deploy.yml
Labels: tools and infrastructure

#2285 Add UI Events as features, update existing events
  features/composition-events.yml
  features/composition-events.yml.dist
  features/focus-events.yml
  features/focus-events.yml.dist
  features/input-event.yml
  features/input-event.yml.dist
  features/keyboard-events.yml
  features/keyboard-events.yml.dist
  features/mouse-events.yml
  features/mouse-events.yml.dist
  features/pointer-events-api.yml
  features/pointer-events-api.yml.dist
  features/wheel-events.yml
  features/wheel-events.yml.dist
Labels: feature definition
