Repository web-platform-dx/web-features, pull requests merged in 2025-08, with the labels that each got.

#3034 Add navigator.scheduling.isInputPending() feature
  features/draft/spec/is-input-pending.yml
  features/is-input-pending.yml
  features/is-input-pending.yml.dist
Labels: feature definition

#3270 Move two getCapabilities() methods out of media capabilities
  features/media-capabilities.yml
  features/media-capabilities.yml.dist
  features/media-capture.yml
  features/media-capture.yml.dist
Labels: feature definition

#3268 Align Web Crypto support with caniuse
  features/web-cryptography.yml
  features/web-cryptography.yml.dist
Labels: feature definition

#3264 Move `TextEncoderStream`/`TextDecoderStream` to the right feature
  features/streams.yml
  features/streams.yml.dist
  features/text-encoding.yml
  features/text-encoding.yml.dist
Labels: feature definition

#3263 Fix spellcheck spec URL (was copypasta)
  features/spellcheck.yml
Labels: feature definition

#3259 Move 3 members of Performance to resource timing
  features/performance.yml
  features/performance.yml.dist
  features/resource-timing.yml
  features/resource-timing.yml.dist
Labels: feature definition

#3258 Mention PerformanceObserver API in performance feature description
  features/performance.yml
Labels: feature definition

#3257 Use more precise spec link for service worker notifications feature
  features/notifications-apps.yml
Labels: feature definition

#3253 Split `Object.hasOwn()` into its own feature
  features/object-hasown.yml
  features/object-hasown.yml.dist
  features/object-object.yml
  features/object-object.yml.dist
Labels: feature definition

#3252 Remove redundant "also known as" for MediaRecorder
  features/mediastream-recording.yml
Labels: feature definition

#3251 Use more precise spec link for @font-face
  features/font-face.yml
Labels: feature definition

#3246 Pin `<fencedframe>` support to the element itself
  features/fencedframe.yml
  features/fencedframe.yml.dist
Labels: feature definition

#3157 Mark MediaRecorder as Baseline high with compute_from
  features/mediastream-recording.yml
  features/mediastream-recording.yml.dist
Labels: feature definition

#3282 Add a Cookies group
  features/cookie-enabled.yml
  features/cookie-store.yml
  features/cookies.yml
  features/partitioned-cookies.yml
  groups/cookies.yml
Labels: feature definition

#3256 Replace many uses of the word "interface"
  features/ambient-light.yml
  features/compression-streams.yml
  features/cookie-store.yml
  features/dom-geometry.yml
  features/sanitizer.yml
  features/webdriver.yml
Labels: feature definition

#3266 Update moveBefore() spec and BCD keys
  features/move-before.yml
  features/move-before.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#3287 Update to include cssdb in the list of dashboard
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation

#2902 Improve description of region capture API
  features/region-capture.yml
Labels: feature definition

#3288 Upgrade `compute-baseline` to use BCD 7.0.0
  package-lock.json
  package.json
  packages/compute-baseline/package.json
  packages/compute-baseline/src/browser-compat-data/feature.ts
  packages/compute-baseline/src/browser-compat-data/index.ts
  packages/compute-baseline/src/browser-compat-data/supportStatements.test.ts
  packages/compute-baseline/src/browser-compat-data/supportStatements.ts
  scripts/find-troublesome-ancestors.ts
Labels: package:compute-baseline, tools and infrastructure, minor version required
