Repository web-platform-dx/web-features, pull requests merged in 2025-02, with the labels that each got.

#2593 Add `<portal>` feature (discouraged)
  features/portal.yml
  features/portal.yml.dist
Labels: feature definition

#2589 Use GitHub Discussions for periodic announcements
  docs/publishing.md
  packages/web-features/README.md
Labels: documentation

#2517 Separate fetch request streaming from fetch
  features/fetch-request-streams.yml
  features/fetch-request-streams.yml.dist
  features/fetch.yml
  features/fetch.yml.dist
Labels: feature definition

#2609 Add a feature for `ui-` `font-family` values
  features/font-family-ui.yml
  features/font-family-ui.yml.dist
Labels: feature definition

#2573 Add `inputmode` global HTML attribute
  features/contenteditable.yml
  features/contenteditable.yml.dist
  features/inputmode.yml
  features/inputmode.yml.dist
Labels: feature definition

#2616 Assign more keys to `<a>` element
  features/a.yml
  features/a.yml.dist
Labels: feature definition

#2605 `attribution-reporting`: add more compat keys
  features/attribution-reporting.yml
  features/attribution-reporting.yml.dist
Labels: feature definition

#2562 Add `element-capture` feature
  features/draft/spec/element-capture.yml
  features/element-capture.yml
  features/element-capture.yml.dist
Labels: feature definition

#2611 Add more keys to `text-box`
  features/text-box.yml
  features/text-box.yml.dist
Labels: feature definition

#2304 Add new contrast-color feature
  features/color-contrast.yml
  features/color-contrast.yml.dist
  features/contrast-color.yml
  features/contrast-color.yml.dist
Labels: feature definition

#2614 Assign more Permissions-related keys
  features/background-sync.yml
  features/background-sync.yml.dist
  features/draft/spec/permissions.yml
  features/draft/spec/permissions.yml.dist
  features/geolocation.yml
  features/geolocation.yml.dist
  features/local-fonts.yml
  features/local-fonts.yml.dist
  features/magnetometer.yml
  features/magnetometer.yml.dist
  features/media-capture.yml
  features/media-capture.yml.dist
  features/notifications.yml
  features/notifications.yml.dist
  features/permissions.yml
  features/permissions.yml.dist
  features/storage-manager.yml
  features/storage-manager.yml.dist
Labels: feature definition

#2632 Cleanup non-generated drafts
  features/draft/html-elements/README.md
  features/draft/scroll-marker.yml
  features/draft/scroll-marker.yml.dist
  features/draft/selectlist.yml
  features/draft/selectlist.yml.dist
Labels: documentation

#2637 Assign more Notifications-related keys
  features/draft/spec/notifications.yml
  features/draft/spec/notifications.yml.dist
  features/notifications.yml
  features/notifications.yml.dist
Labels: feature definition

#2646 Mark BarProp as Baseline high
  features/barprop.yml
  features/barprop.yml.dist
Labels: feature definition

#2301 Early customizable select feature
  features/customizable-select.yml
  features/customizable-select.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure, early features

#2663 Add key to `selection-api`
  features/selection-api.yml
  features/selection-api.yml.dist
Labels: feature definition

#2641 execCommand() feature
  features/execcommand.yml
  features/execcommand.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#2662 Add more keys to `shadow-dom`
  features/shadow-dom.yml
  features/shadow-dom.yml.dist
Labels: feature definition

#2664 Add discouraged features for `Function.prototype.{caller,arguments}` and `arguments.callee`
  features/arguments-callee.yml
  features/arguments-callee.yml.dist
  features/functions-caller-arguments.yml
  features/functions-caller-arguments.yml.dist
Labels: feature definition

#2677 Add 3 missing backticks in feature descriptions
  features/css-modules.yml
  features/nth-of-type.yml
  features/rgb.yml
Labels: feature definition

#2652 Split text-underline-offset from text-underline-position
  features/text-underline-offset.yml
  features/text-underline-offset.yml.dist
  features/text-underline-position.yml
  features/text-underline-position.yml.dist
Labels: feature definition

#2680 Add `popover=hint` feature
  features/popover-hint.yml
  features/popover-hint.yml.dist
Labels: feature definition

#2688 Add a discouraged feature for `RegExp` static properties
  features/regexp-static-properties.yml
  features/regexp-static-properties.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#2689 Allow discouraged features to use `compute_from`
  scripts/dist.ts
Labels: tools and infrastructure

#2643 document.write() feature
  features/document-write.yml
  features/document-write.yml.dist
  features/dom.yml
  features/dom.yml.dist
Labels: feature definition

#2686 Add new popover-related keys
  features/anchor-positioning.yml
  features/anchor-positioning.yml.dist
  features/popover.yml
  features/popover.yml.dist
Labels: feature definition

#2656 Add CSS interactivity feature.
  features/interactivity.yml
  features/interactivity.yml.dist
Labels: feature definition

#2713 Remove backtick markdown tagging from feature names
  docs/CONTRIBUTING.md
  features/overflow-overlay.yml
  features/text-decoration-line-blink.yml
  features/word-break-break-word.yml
Labels: documentation, feature definition

#2712 window.external API
  features/external.yml
  features/external.yml.dist
Labels: feature definition

#2708 Add `text-autospace` feature
  features/text-autospace.yml
  features/text-autospace.yml.dist
Labels: feature definition

#2721 Add more links and content to the "Baseline in the wild" article
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation

#2642 getBoxQuads() feature
  features/getboxquads.yml
  features/getboxquads.yml.dist
Labels: feature definition

#2592 New application-title metadata name feature
  features/meta-application-title.yml
  features/meta-application-title.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure, early features

#2638 Add `shared-storage-locks`
  features/shared-storage-locks.yml
  features/shared-storage-locks.yml.dist
Labels: feature definition

#2690 Add `Array[Symbol.species]` to `symbol`
  features/symbol.yml
  features/symbol.yml.dist
Labels: feature definition

#2684 `cookie-store`: add new keys
  features/cookie-store.yml
  features/cookie-store.yml.dist
Labels: feature definition

#2685 `container-scroll-state-queries`: add new keys
  features/container-scroll-state-queries.yml
  features/container-scroll-state-queries.yml.dist
Labels: feature definition

#2687 `ua-client-hints`: add new keys
  features/ua-client-hints.yml
  features/ua-client-hints.yml.dist
Labels: feature definition

#2709 Assign new keys for JavaScript `import` and `export`
  features/js-modules.yml
  features/js-modules.yml.dist
  features/json-modules.yml
  features/json-modules.yml.dist
Labels: feature definition

#2710 Add new `setScreenshareActive` key to `media-session`
  features/media-session.yml
  features/media-session.yml.dist
Labels: feature definition

#2717 Add feature for `isSecureContext`
  features/is-secure-context.yml
  features/is-secure-context.yml.dist
Labels: feature definition

#2715 Assign `worker_support` keys
  features/base64encodedecode.yml
  features/base64encodedecode.yml.dist
  features/canvas-2d.yml
  features/canvas-2d.yml.dist
  features/setinterval.yml
  features/setinterval.yml.dist
  features/settimeout.yml
  features/settimeout.yml.dist
Labels: feature definition

#2716 Add key to `createimagebitmap` and align status to caniuse
  features/createimagebitmap.yml
  features/createimagebitmap.yml.dist
Labels: feature definition

#2718 Update release docs and workflow
  .github/workflows/bcd_upgrade_checklist.yml
  docs/publishing.md
Labels: documentation, tools and infrastructure

#2610 Add `scroll-initial-target`
  features/scroll-initial-target.yml
  features/scroll-initial-target.yml.dist
Labels: feature definition

#2601 Add keys to reporting API feature
  features/csp.yml
  features/csp.yml.dist
  features/reporting.yml
  features/reporting.yml.dist
Labels: feature definition

#2660 Add feature for `moveBefore()` DOM methods (and group some DOM features)
  features/declarative-shadow-dom.yml
  features/dom.yml
  features/gethtml.yml
  features/move-before.yml
  features/move-before.yml.dist
  features/mutation-events.yml
  features/mutationobserver.yml
  features/shadow-dom.yml
  groups/dom.yml
  scripts/specs.ts
Labels: feature definition, tools and infrastructure
