Repository web-platform-dx/web-features, pull requests merged in 2025-04, with the labels that each got.

#2835 Fix a couple of broken links on baseline-in-the-wild.md
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation

#2797 Discouraged table-related attributes and properties
  features/table-discouraged.yml
  features/table-discouraged.yml.dist
Labels: feature definition

#2771 fetchlater feature
  features/fetchlater.yml
  features/fetchlater.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#2848 Fix typo in EXT_texture_norm16 WebGL extension name
  features/ext-texture-norm16.yml
Labels: feature definition

#2857 Name print-color-adjust feature after property
  features/print-color-adjust.yml
Labels: feature definition

#2859 Add :hover BCD subfeatures to User action pseudo-classes
  features/draft/spec/selectors-4.yml
  features/draft/spec/selectors-4.yml.dist
  features/user-action-pseudos.yml
  features/user-action-pseudos.yml.dist
Labels: feature definition

#2854 Mark the inert attribute as Baseline low
  features/inert.yml
  features/inert.yml.dist
Labels: feature definition

#2868 Remove incorrect "not" in beforeinstallprompt comment
  features/beforeinstallprompt.yml
Labels: feature definition

#2869 Make beforeunload name consistent with other event features
  features/beforeunload.yml
Labels: feature definition

#2867 Fix capitalization of accesskey attribute in description
  features/accesskey.yml
Labels: feature definition

#2877 add: Baseline MCP Server
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation

#2896 Add MediaError to <video>
  features/video.yml
  features/video.yml.dist
Labels: feature definition

#2892 Bump Node.js to >=20.10.0
  .node-version
  .nvmrc
  package-lock.json
  package.json
  scripts/specs.ts
  scripts/update-drafts.ts
Labels: tools and infrastructure

#2899 Move service worker event to the messageerror feature
  features/messageerror.yml
  features/messageerror.yml.dist
  features/service-workers.yml
  features/service-workers.yml.dist
Labels: feature definition

#2907 Add TimeRanges to `<video>` feature
  features/video.yml
  features/video.yml.dist
Labels: feature definition

#2908 Add textTracks property to text tracks feature
  features/text-tracks.yml
  features/text-tracks.yml.dist
Labels: feature definition

#2909 Add option param to caretPositionFromPoint() feature
  features/document-caretpositionfrompoint.yml
  features/document-caretpositionfrompoint.yml.dist
Labels: feature definition
