Repository web-platform-dx/web-features, pull requests merged in 2025-01, with the labels that each got.

#2485 Add SVG deprecated as discouraged feature
  features/svg-discouraged.yml
  features/svg-discouraged.yml.dist
  features/svg.yml
  features/svg.yml.dist
Labels: feature definition

#2478 Publishing docs: document CLI usage for setting a repository secret
  docs/publishing.md
Labels: documentation

#2481 add caniwebview.com to baseline in the wild
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation

#2467 Add private click measurement
  features/private-click-measurement.yml
  features/private-click-measurement.yml.dist
Labels: feature definition

#2483 Add anchor-size rules to anchor-positioning
  features/anchor-positioning.yml
  features/anchor-positioning.yml.dist
Labels: feature definition

#2508 Barcode detection API feature
  features/barcode.yml
  features/barcode.yml.dist
Labels: feature definition

#2511 Obsolete document color properties
  features/document-colors.yml
  features/document-colors.yml.dist
Labels: feature definition

#2529 Add parens to getHTML() name
  features/gethtml.yml
Labels: feature definition

#2518 Discouraged mutation events
  features/mutation-events.yml
  features/mutation-events.yml.dist
Labels: feature definition

#2474 Add undist script
  package.json
  scripts/undist.ts
Labels: tools and infrastructure

#2351 Add more media keys and features
  features/draft/spec/media-capabilities.yml
  features/draft/spec/mediacapture-streams.yml
  features/draft/spec/mediacapture-streams.yml.dist
  features/encrypted-media-extensions.yml
  features/encrypted-media-extensions.yml.dist
  features/insertable-streams.yml
  features/insertable-streams.yml.dist
  features/media-capabilities.yml
  features/media-capabilities.yml.dist
  features/media-capture.yml
  features/media-capture.yml.dist
  features/media-playback-quality.yml
  features/media-playback-quality.yml.dist
  features/media-session.yml
  features/media-session.yml.dist
  features/media-source.yml
  features/media-source.yml.dist
  features/mediastream-recording.yml
  features/mediastream-recording.yml.dist
  features/region-capture.yml
  features/region-capture.yml.dist
Labels: feature definition

#2512 Add WebVR feature (deprecated)
  features/webvr.yml
  features/webvr.yml.dist
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#2486 Discouraged CSS features
  features/clip.yml
  features/clip.yml.dist
  features/color-adjust.yml
  features/color-adjust.yml.dist
  features/device-queries.yml
  features/device-queries.yml.dist
  features/glyph-orientation-vertical.yml
  features/glyph-orientation-vertical.yml.dist
  features/ime-mode.yml
  features/ime-mode.yml.dist
  features/overflow-overlay.yml
  features/overflow-overlay.yml.dist
  features/text-decoration-line-blink.yml
  features/text-decoration-line-blink.yml.dist
  features/word-break-break-word.yml
  features/word-break-break-word.yml.dist
  features/writing-mode-svg-values.yml
  features/writing-mode-svg-values.yml.dist
Labels: feature definition

#2076 Add deprecated Performance API
  features/performancetiming.yml
  features/performancetiming.yml.dist
Labels: feature definition

#2548 Make CSS length unit descriptions consistent
  features/cap.yml
  features/ic.yml
  features/lh.yml
Labels: feature definition

#2549 `wasm-string-builtins`: add keys tagged in BCD
  features/wasm-string-builtins.yml
  features/wasm-string-builtins.yml.dist
Labels: feature definition

#2545 Gh pages adding rumvision
  gh-pages/src/baseline-in-the-wild.md
  gh-pages/src/use-baseline.md
Labels: documentation

#2333 Add script to cleanup redundant BCD overrides
  package.json
  scripts/dist.ts
  scripts/remove-tagged-compat-features.ts
Labels: tools and infrastructure

#2345 Remove redundant compat_features keys from features with comments
  features/article.yml
  features/aside.yml
  features/audio.yml
  features/figure.yml
  features/font-variant-position.yml
  features/header-footer.yml
  features/hsl.yml
  features/ins.yml
  features/json-modules.yml
  features/main.yml
  features/mark.yml
  features/menu.yml
  features/nav.yml
  features/section.yml
  features/source.yml
  features/time.yml
Labels: feature definition

#2565 Add feature for discouraged import assertions
  features/css-modules.yml
  features/import-assertions.yml
  features/import-assertions.yml.dist
  features/json-modules.yml
  scripts/specs.ts
Labels: feature definition, tools and infrastructure

#2561 Disallow unused variables
  eslint.config.js
  packages/compute-baseline/src/browser-compat-data/feature.test.ts
  scripts/caniuse.ts
  scripts/release.ts
Labels: tools and infrastructure

#2567 Add container scroll-state queries
  features/container-scroll-state-queries.yml
  features/container-scroll-state-queries.yml.dist
Labels: feature definition

#2582 `details`: add keys for `<summary>` element
  features/details.yml
  features/details.yml.dist
Labels: feature definition

#1419 Add `<meter>` element
  features/meter.yml
  features/meter.yml.dist
Labels: feature definition

#2560 Add docs for how web-features syncs with BCD
  docs/bcd-sync.md
Labels: documentation

#2587 Add a workflow to remove tagged compat features
  .github/workflows/bcd_upgrade_checklist.yml
  .github/workflows/remove_tagged_compat_features.yml
Labels: tools and infrastructure

#2588 Add SVG <cursor> and SVG <tref> to discouraged SVG feature
  features/svg-discouraged.yml
  features/svg-discouraged.yml.dist
Labels: feature definition

#2510 BeforeInstallPrompt feature
  features/beforeinstallprompt.yml
  features/beforeinstallprompt.yml.dist
  features/draft/spec/manifest-incubations.yml
  features/draft/spec/manifest-incubations.yml.dist
Labels: feature definition
