Repository web-platform-dx/web-features, pull requests merged in 2025-07, with the labels that each got.

#3031 Add sibling-count() and sibling-index()
  features/sibling-count.yml
  features/sibling-count.yml.dist
Labels: feature definition

#3104 Add types to audit-consumers.ts
  scripts/audit-consumers.ts
Labels: tools and infrastructure

#3110 Use "owners group" consistently
  docs/baseline.md
Labels: documentation

#3046 Update compute-baseline README: withAncestors to checkAncestors
  packages/compute-baseline/README.md
Labels: documentation

#3118 Group dependabot updates
  .github/dependabot.yml
  .node-version
  .nvmrc
  package-lock.json
  packages/web-features/package-lock.json
  packages/web-features/package.json
Labels: tools and infrastructure

#3131 Let Dependabot update all `package.json` files
  .github/dependabot.yml
Labels: tools and infrastructure

#3155 Pass GitHub token to audit consumers script
  .github/workflows/audit_consumers.yml
  scripts/audit-consumers.ts
Labels: tools and infrastructure

#3172 Unlink `createimagebitmap` feature from caniuse
  features/createimagebitmap.yml
Labels: feature definition

#3158 Pin scroll snap events status to the events themselves
  features/scroll-snap-events.yml
  features/scroll-snap-events.yml.dist
Labels: feature definition

#3182 Adds link to browserslist-config-baseline on gh-pages site
  gh-pages/src/baseline-in-the-wild.md
Labels: documentation
